<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SeeYouNow</title>
  <!-- Logo Font -->
  <link href="//fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <%= form_tag sessions_path, class: "form-signin" do %>
      <h1>SeeYouNow</h1>
      <h2 class="form-signin-heading">Please sign in</h2>
      <%= text_field_tag :email, "", class: "form-control", placeholder: "Email Address" %>
      <%= password_field_tag :password, "", class: "form-control", placeholder: "Password" %>
      <%= button_tag "Sign In", class: "btn btn-lg btn-primary btn-block" %>
    <% end %>

  </div>
</body>
</html>
