<head>
    <title>SeeYouNow | New Note</title>
</head>

<% if @note.errors.any? %>
  <div class="alert alert-warning">
    <h2>Some errors kept this assessment from being saved:</h2>
    <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h3 class="page-header">
  Write new note
</h3>

<body>


  <%= form_for [@patient, @note] do |form| %>
    <div class="form-group">
      <%= form.label :patient_id %>
      <%= form.collection_select :patient_id, Patient.all.order("first_name asc"), :id, :full_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :care_note %>
      <%= form.text_area :care_note, class: "form-control", rows: 5, placeholder: "Leave a note" %>
    </div>

    <%= form.button 'Submit Note', class: "btn btn-success" %>
  <% end %>

</body>