<h3 class="page-header">
  Edit ESAS assesment done at <%= @esas_assesment.time %> for <%= @esas_assesment.patient_id %>
</h3>

<%= form_for @esas_assesment do |form| %>
  <div class="form-group">
    <%= form.label :patient_id %>
    <%= form.text_field :patient_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :clinician_id %>
    <%= form.text_field :clinician_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :time %>
    <%= form.text_field :time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :inputter_name %>
    <%= form.text_field :inputter_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :inputter_id %>
    <%= form.text_field :inputter_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :pain %>
    <%= form.text_field :pain, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :pain_comment %>
    <%= form.text_field :pain_comment, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :tiredness %>
    <%= form.text_field :tiredness, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :tiredness_comment %>
    <%= form.text_field :tiredness_comment, class: "form-control" %>
  </div>

    <div class="form-group">
    <%= form.label :drowsiness %>
    <%= form.text_field :drowsiness, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :drowsiness_comment %>
    <%= form.text_field :drowsiness_comment, class: "form-control" %>
  </div>

    <div class="form-group">
    <%= form.label :nausea %>
    <%= form.text_field :nausea, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :nausea_comment %>
    <%= form.text_field :nausea_comment, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :lack_of_appetite %>
    <%= form.text_field :lack_of_appetite, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :lack_of_appetite_comment %>
    <%= form.text_field :lack_of_appetite_comment, class: "form-control" %>
  </div>

    <div class="form-group">
    <%= form.label :shortness_of_breath %>
    <%= form.text_field :shortness_of_breath, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :shortness_of_breath_comment %>
    <%= form.text_field :shortness_of_breath_comment, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :depression %>
    <%= form.text_field :depression, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :depression_comment %>
    <%= form.text_field :depression_comment, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :wellbeing %>
    <%= form.text_field :wellbeing, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :wellbeing_comment %>
    <%= form.text_field :wellbeing_comment, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :other_symptom_id %>
    <%= form.text_field :other_symptom_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :other_symptom_score %>
    <%= form.text_field :other_symptom_score, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :other_symptom_comment %>
    <%= form.text_field :other_symptom_comment, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :esas_comment %>
    <%= form.text_field :esas_comment, class: "form-control" %>
  </div>
  <%= form.button 'Update ESAS assesment', class: "btn btn-success" %>
<% end %>