<!-- Use view helpers (e.g. link_to and image_tag) -->
<!-- and implement real data -->

<h3 class="page-header">
  <p><strong>Completed by:</strong> <%= Patient.find_by(id: @esas_assesment.patient_id).first_name %> <%= Patient.find_by(id: @esas_assesment.patient_id).last_name %></p>
    <span class="pull-right">
    <%= link_to "Edit", edit_esas_assesment_path, class: 'btn btn-sm btn-success' %>
    </span>
  <p><strong>For:</strong> <%= @esas_assesment.clinician.occupation.name %> <%= Clinician.find_by(id: @esas_assesment.clinician_id).first_name %> <%= Clinician.find_by(id: @esas_assesment.clinician_id).last_name %></p>

</h3>
 <h2 span class="time"><strong>Completed at:</strong> <%= @esas_assesment.time %></span>
</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-1 information">
    <h2 class="page-header">Scores</h2>
    <table class="table table-striped table-bordered">
      <tr>
        <td><strong>Pain:</strong></td><td><%= @esas_assesment.pain %></td>
        <td><strong>Comment:</strong></td><td><%= @esas_assesment.pain_comment %></td>
      </tr>
      <tr>
        <td><strong>Tiredness:</strong></td><td><%= @esas_assesment.tiredness %></td>
        <td><strong>Comment:</strong></td><td><%= @esas_assesment.tiredness_comment %></td>
      </tr>
      <tr>
        <td><strong>Drowsiness:</strong></td><td><%= @esas_assesment.drowsiness %></td>
        <td><strong>Comment:</strong></td><td><%= @esas_assesment.drowsiness_comment %></td>
      </tr>
      <tr>
        <td><strong>Nausea:</strong></td><td><%= @esas_assesment.nausea %></td>
        <td><strong>Comment:</strong></td><td><%= @esas_assesment.nausea_comment %></td>
      </tr>
      <tr>
        <td><strong>Lack of Appetite:</strong></td><td><%= @esas_assesment.lack_of_appetite %></td>
        <td><strong>Comment:</strong></td><td><%= @esas_assesment.lack_of_appetite_comment %></td>
      </tr>
      <tr>
        <td><strong>Shortness of Breath:</strong></td><td><%= @esas_assesment.shortness_of_breath %></td>
        <td><strong>Comment:</strong></td><td><%= @esas_assesment.shortness_of_breath_comment %></td>
      </tr>
      <tr>
        <td><strong>Depression:</strong></td><td><%= @esas_assesment.depression %></td>
        <td><strong>Comment:</strong></td><td><%= @esas_assesment.depression_comment %></td>
      </tr>
      <tr>
        <td><strong>Wellbeing:</strong></td><td><%= @esas_assesment.wellbeing %></td>
       <td><strong>Comment:</strong></td><td><%= @esas_assesment.wellbeing_comment %></td>
      </tr>
      <tr>
        <td><strong>Other Symptom Type:</strong></td><td><%= @esas_assesment.other_symptom.symptom_type %></p>
        <td><strong>Other Symptom Score:</strong></td><td><%= @esas_assesment.other_symptom_score %></p>
        <td><strong>Comment:</strong></td><td><%= @esas_assesment.wellbeing_comment %></p>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-1 information">
    <h2 class="page-header">Information</h2>
    <table class="table table-striped table-bordered">
      <tr>
        <td><strong>Inputter name</strong></td>
        <td><%= @esas_assesment.inputter_name %></td>
      </tr>
      <tr>
        <td><strong>Inputter type</strong></td>
        <td><%= Inputter.find_by(id: @esas_assesment.inputter_id).inputter_type %></td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6 comment">
    <h2>Overall Comment</h2>
    <p>
      <%= @esas_assesment.esas_comment %>
    </p>
  </div>
</div>

<%= timeline [
  ["Washington", "1789-04-29", "1797-03-03"],
  ["Adams", "1797-03-03", "1801-03-03"],
  ["Jefferson", "1801-03-03", "1809-03-03"]
] %>