<!DOCTYPE html>
<h3 class="page-header">
  All conversations
  <span class="pull-right">
    <%= link_to "New comment", new_comment_path, class: 'btn btn-sm btn-success' %>
  </span>
</h3>

<!-- <ul>


  <% @comments.each do |comment| %>
  		<% if current_clinician %>
	    	<li><h4><%= link_to "With #{ comment.patient.first_name } #{ comment.patient.last_name} from #{comment.updated_at.to_s(:long)}", comment_path(comment) %><%= time_ago_in_words(comment.updated_at) %></h4> 
	    
	    	<%= link_to "Edit", edit_comment_path(comment) %>
	    <% else %>
	    	<li><h4><%= link_to "With #{ comment.clinician.first_name } #{ comment.clinician.last_name} from #{comment.updated_at.to_s(:long)}", comment_path(comment) %></h4>
	    <% end %>

	    <%= link_to "Delete", comment_path(comment), method: :delete, data: {confirm: 'Are you sure you want to delete'} %></li>
  <% end %>
</ul> -->

<body>
<!--=== Profile ===-->
    <div class="profile container content">
      <div class="row">
            <div class="col-md-12">
            	<!--Profile Body-->
            	<div class="profile-body">

            		<div class="row margin-bottom-20"><!--start row-->
            		  <!--Conversations-->
            		  <div class="col-sm-5">
            		      <div class="panel panel-profile no-bg">
            		          <div class="panel-heading overflow-h">
            		              <h2 class="panel-title heading-sm pull-left"><i class="fa fa-bed"></i>Conversations</h2>
            		              <a href="#"><i class="fa fa-cog pull-right"></i></a>
            		          </div>
            		          <div id="scrollbar" class="panel-body contentHolder">
            		          <% if current_clinician %>
              		          <% @comments.group(:patient_id).each_with_index do |comment, index| %>
              		              <div class="profile-post color-one">
              		                  <span class="profile-post-numb"><%= index+1 %></span>
              		                  <div class="profile-post-in">
              		                      <h3 class="heading-xs"><a><%= link_to "#{User.find_by(id: comment.from).patient.first_name} #{comment.patient.last_name}", comment_path(comment) %></a></h3>
              		                      <p>Lastest comment from <%= time_ago_in_words(comment.updated_at) %> ago<i class="pull-right"><%= link_to "Edit", edit_comment_path(comment) %> <%= link_to "Delete", comment_path(comment), method: :delete, data: {confirm: 'Are you sure you want to delete'} %></i></p>
              		                  </div>
              		              </div>
              		          <% end %>
                          <% else %>
                            <% @comments.group(:clinician_id).each_with_index do |comment, index| %>
                                <div class="profile-post color-one">
                                    <span class="profile-post-numb"><%= index+1 %></span>
                                    <div class="profile-post-in">
                                        <h3 class="heading-xs"><a><%= link_to "#{comment.from.first_name} #{comment.from.last_name}", comment_path(comment) %></a></h3>
                                        <p><%= comment.fromoccupation.name %><i class="pull-right"><%= link_to "Edit", edit_comment_path(comment) %> <%= link_to "Delete", comment_path(comment), method: :delete, data: {confirm: 'Are you sure you want to delete'} %></i></p>
                                    </div>
                                </div>
                            <% end %>
                          <% end %>
            		          </div>
            		      </div>        
            		  </div>
            		  <!--End Conversations-->

                  <!--End Comments Post-->
            		  <div class="col-sm-7">
                      <div class="panel panel-profile">
                          <div class="panel-heading overflow-h">
                              <h2 class="panel-title heading-sm pull-left"><i class="fa fa-comments-o"></i> Comments</h2>
                          </div>
                          <div id="scrollbar4" class="panel-body contentHolder">
                          <% if current_clinician %>
                            <% @comments.each_with_index do |comment, index| %>
                              <% if comment.from == current_user.id %>
                                <% "Something" %>
                              <% else %>
                                <div class="comment">
                                    <div class="overflow-h">
                                        <strong><%= comment.patient.first_name %> <%= comment.patient.last_name %><small class="pull-right"> <%= time_ago_in_words(comment.updated_at) %></small></strong> 
                                        <p><%= comment.general_comment %></p>
                                        <ul class="list-inline comment-list">
                                            <li><i class="fa fa-heartbeat"></i><%= comment.patient.diagnosis %></li>
                                        </ul>
                                    </div>    
                                </div>
                              <% end %>
                            <% end %>
                          <% else %>
                            <% @comments.each_with_index do |comment, index| %>
                              <div class="comment">
                                  <div class="overflow-h">
                                      <strong><%= comment.clinician.first_name %> <%= comment.clinician.last_name %><small class="pull-right"> <%= time_ago_in_words(comment.updated_at) %></small></strong> 
                                      <p><%= comment.general_comment %></p>
                                      <ul class="list-inline comment-list">
                                          <li><i class="fa fa-user-md"></i> <a href="#"><%= comment.clinician.occupation.name %></a></li>
                                      </ul>
                                  </div>    
                              </div>
                            <% end %>
                          <% end %>
                          </div>
                      </div>    
                  </div><!--End Comments Post-->


            		</div><!--/end row-->
            	</div><!--End Profile Body-->
            </div>
        </div><!--/end row-->
    </div><!--/container-->    
    <!--=== End Profile ===-->

</body>
</html>	