<% if @comment.errors.any? %>
  <div class="alert alert-warning">
    <h2>Some errors kept this assessment from being saved:</h2>
    <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h3 class="page-header">
  Write new comment
</h3>

<%= form_for @comment do |form| %>
  <div class="form-group">
    <%= form.label :patient_id %>
    <%= form.collection_select :patient_id, Patient.all, :id, :first_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :clinician_id %>
    <%= form.collection_select :clinician_id, Clinician.all, :id, :first_name, class: "form-control" %>
  </div>

  <%= form.text_area :from, class: "form-control", value: current_user %>

  <div class="form-group">
    <%= form.label :general_comment %>
    <%= form.text_area :general_comment, class: "form-control", rows: 5, placeholder: "Leave a comment" %>
  </div>

  <%= form.button 'Submit Comment', class: "btn btn-success" %>
<% end %>