<!-- Use view helpers (e.g. link_to and image_tag) -->
<!-- and implement real data -->

<h4 class="page-header">
  <p><strong>Completed by:</strong> <%= link_to "#{@comment.patient.first_name} #{@comment.patient.last_name}", patient_path(@comment.patient) %></p>
  <% if current_clinician %>
    <span class="pull-right">
    <%= link_to "Edit", edit_comment_path, class: 'btn btn-sm btn-success' %>
    </span>
  <% end %>
  <p><strong>For:</strong> <%= @comment.clinician.occupation.name %> <%= @comment.clinician.first_name %> <%= @comment.clinician.last_name %></p>
</h4>
<h4 span class="time"><strong>Completed at:</strong> <%= @comment.created_at.strftime("%a, %d %b %Y at %H:%M:%S") %>
  <% if current_clinician %>
    <span class="pull-right">
    <%= link_to "Delete", comment_path, method: :delete, data: {confirm: 'Are you sure you want to delete'}, class: 'btn btn-sm btn-success' %>
    </span>
  <% end %>
</h4>

<div class="row">
  <div class="col-md-6 col-md-offset-1 information">
    <h2 class="page-header">Conversation</h2>
    <table class="table table-striped table-bordered">
      <tr>
        <td>
          <% @comment.each do |comment| %>
          <%= comment.patient.first_name %>
          <% end %>
        </td>
        <td><strong>Comment:</strong></td><td><%= @comment.pain_comment %></td>
      </tr>
    </table>
  </div>
</div>