<!DOCTYPE html>
<h3 class="page-header">
  All conversations
  <span class="pull-right">
    <%= link_to "New comment", new_comment_path, class: 'btn btn-sm btn-success' %>
  </span>
</h3>

<body>
<!--=== Profile ===-->
    <div class="profile container content">
      <div class="row">
            <div class="col-md-12">
              <!--Profile Body-->
              <div class="profile-body">

                <div class="row margin-bottom-20"><!--start row-->
                  
                  <!--End Comments Post-->
                  <div class="col-sm-7">
                      <div class="panel panel-profile">
                          <div class="panel-heading overflow-h">
                              <h2 class="panel-title heading-sm pull-left"><i class="fa fa-comments-o"></i> Comments</h2>
                          </div>
                          <div id="scrollbar4" class="panel-body contentHolder">
                          <% if current_clinician %>
                            <% @patient.map(&:comments).uniq.each_with_index do |patient, index| %>
                              <div class="comment">
                                  <div class="overflow-h">
                                      <strong><%= patient.first_name %> <%= patient.last_name %><small class="pull-right"> <%= time_ago_in_words(patient.updated_at) %></small></strong> 
                                      <p><%= patient.general_comment %></p>
                                      <ul class="list-inline comment-list">
                                          <li><i class="fa fa-heartbeat"></i> <%= patient.diagnosis %></li>
                                      </ul>
                                  </div>    
                              </div>
                            <% end %>
                          <% else %>
                            <% @comments.each_with_index do |comment, index| %>
                              <div class="comment">
                                  <div class="overflow-h">
                                      <strong><%= comment.clinician.first_name %> <%= comment.clinician.last_name %><small class="pull-right"> <%= time_ago_in_words(comment.updated_at) %></small></strong> 
                                      <p><%= comment.general_comment %></p>
                                      <ul class="list-inline comment-list">
                                          <li><i class="fa fa-user-md"></i> <a href="#"><%= comment.clinician.occupation.name %></a></li>
                                      </ul>
                                  </div>    
                              </div>
                            <% end %>
                          <% end %>
                          </div>
                      </div>    
                  </div><!--End Comments Post-->


                </div><!--/end row-->
              </div><!--End Profile Body-->
            </div>
        </div><!--/end row-->
    </div><!--/container-->    
    <!--=== End Profile ===-->

</body>
</html> 