<!DOCTYPE html>
<h3 class="page-header">
  All conversations
  <span class="pull-right">
    <%= link_to "New comment", new_comment_path, class: 'btn btn-u btn-success' %>
  </span>
</h3>

<body>
<!--=== Profile ===-->
    <div class="profile container content">
      <div class="row">
            <div class="col-md-12">
              <!--Profile Body-->
              <div class="profile-body">

                <div class="row margin-bottom-20"><!--start row-->
                  
                  <!--End Comments Post-->
                  <div class="col-sm-7">
                      <div class="panel panel-profile">
                          <div class="panel-heading overflow-h">
                              <h2 class="panel-title heading-sm pull-left"><i class="fa fa-comments-o"></i> Comments</h2>
                          </div>
                          <div id="scrollbar4" class="panel-body contentHolder">
                          
                            <% @comments.each_with_index do |comment, index| %>
                              <div class="comment">
                                  <div class="overflow-h">
                                    <% if comment.from == comment.patient.id %>
                                      <strong><%= link_to "#{comment.patient.first_name} #{comment.patient.last_name}", comment_path(comment) %><small class="pull-right"> <%= time_ago_in_words(comment.updated_at) %></small></strong>
                                    <% else %>
                                      <strong><%= link_to "#{comment.clinician.first_name} #{comment.clinician.last_name}", comment_path(comment) %><small class="pull-right"> <%= time_ago_in_words(comment.updated_at) %></small></strong>
                                    <% end %>
                                        <p><%= comment.general_comment %></p>
                                  </div>    
                              </div>
                            <% end %>
                          </div>
                      </div>    
                  </div><!--End Comments Post-->


                </div><!--/end row-->
              </div><!--End Profile Body-->
            </div>
        </div><!--/end row-->
    </div><!--/container-->    
    <!--=== End Profile ===-->

</body>
</html> 