<!DOCTYPE html>

<head>
    <title>SeeYouNow | Other Symptoms</title>
</head>

<h3 class="page-header">
  Other Symptoms
  <span class="pull-right">
    <%= link_to "Add Symptom", new_other_symptom_path, class: 'btn btn-u btn-success' %>
  </span>
</h3>

<body>
<!--=== Profile ===-->
    <div class="profile container content">
      <div class="row">
            <div class="col-md-12">
              <!--Profile Body-->
              <div class="profile-body">

                <div class="row margin-bottom-20"><!--start row-->
                  <!--Other Symptoms list-->
                  <div class="col-sm-6">
                      <div class="panel panel-profile no-bg">
                          <div class="panel-heading overflow-h">
                              <h2 class="panel-title heading-sm pull-left"><i class="fa fa-stethoscope"></i>List of Other Symptoms</h2>
                              <a href="#"><i class="fa fa-cog pull-right"></i></a>
                          </div>
                          <div id="scrollbar" class="panel-body contentHolder">
                            <% @other_symptoms.each_with_index do |other_symptom, index| %>
                                <div class="profile-post color-one">
                                    <span class="profile-post-numb"><%= index+1 %></span>
                                    <div class="profile-post-in">
                                        <h3 class="heading-xs"><a><%= other_symptom.symptom_type %></a></h3>
                                        <p><i class="pull-right"><%= link_to "Edit", edit_other_symptom_path(other_symptom) %> <%= link_to "Delete", other_symptom_path(other_symptom), method: :delete, data: {confirm: 'Are you sure you want to delete'} %></i></p>
                                    </div>
                                </div>
                            <% end %>
                          </div>
                      </div>        
                  </div>
                  <!--End Other Symptoms list-->

                  <!--Information-->
                  <div class="col-sm-6">
                      <div class="panel panel-profile no-bg">
                          <div class="panel-heading overflow-h">
                              <h2 class="panel-title heading-sm pull-left"><i class="fa fa-info"></i>Information</h2>
                          </div>
                          <div id="scrollbar" class="panel-body contentHolder">
                                <div class="profile-post color-one">
                                    <span class="profile-post-numb"></span>
                                    <div class="profile-post-in">
                                        <p>This is a list of symptoms that can be selected as the most severe symptom that is not already included when completing an ESAS assessment.</p>
                                    </div>
                                </div>
                          </div>
                      </div>        
                  </div>
                  <!--End Information-->

                </div><!--/end row-->
              </div><!--End Profile Body-->
            </div>
        </div><!--/end row-->
    </div><!--/container-->    
    <!--=== End Profile ===-->

</body>
</html>