<head>
    <title>SeeYouNow | New Speciality</title>
</head>

<% if @speciality.errors.any? %>
  <div class="alert alert-warning">
    <h2>Some errors kept this assessment from being saved:</h2>
    <ul>
      <% @speciality.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h3 class="page-header">
  Specify new speciality
</h3>

<div class="profile container content">
  <div class="centre">
    <div class="col-md-8">
      <!--Profile Body-->
      <div class="profile-body">

        <%= form_for @speciality do |form| %>
          <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name, class: "form-control", placeholder: "Speciality" %>
          </div>

          <div class="form-group">
            <%= form.label :occupation_id %>
            <%= form.collection_select :occupation_id, Occupation.all, :id, :name, :prompt => true, class: "form-control" %>
          </div>
          <%= form.button 'Add Speciality', class: "btn btn-u btn-success" %>
        <% end %>
      </div><!--End Profile Body-->
    </div>
  </div><!--/end centre-->
</div><!--/container-->