<head>
    <title>SeeYouNow | New Clinician</title>
</head> 

<% if @clinician.errors.any? %>
  <div class="alert alert-warning">
    <h2>Some errors kept this clinician from being saved:</h2>
    <ul>
      <% @clinician.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h3 class="page-header">
  Create New Clinician
</h3>

<div class="profile container content">
  <div class="centre">
    <div class="col-md-8">
      <!--Profile Body-->
      <div class="profile-body">

        <%= form_for @clinician do |form| %>
          <div class="form-group">
            <%= form.label :first_name %>
            <%= form.text_field :first_name, class: "form-control", placeholder: "First name" %>
          </div>

          <div class="form-group">
            <%= form.label :last_name %>
            <%= form.text_field :last_name, class: "form-control", placeholder: "Last name" %>
          </div>

          <div class="form-group">
            <%= form.label :occupation_id %>
            <%= form.collection_select :occupation_id, Occupation.all, :id, :name, { include_blank: true }, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :gender_id %>
            <%= form.collection_select :gender_id, Gender.all, :id, :gender_type, { include_blank: true }, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :office_number %>
            <%= form.text_field :office_number, class: "form-control", placeholder: "Office number" %>
          </div>

          <div class="form-group">
            <%= form.label :mobile_number %>
            <%= form.text_field :mobile_number, class: "form-control", placeholder: "Mobile number" %>
          </div>

          <div class="form-group">
            <%= form.label :emergency_message %>
            <%= form.text_area :emergency_message, class: "form-control", rows: 5, placeholder: "Emergency Message" %>
          </div>

          <div class="form-group">
            <%= form.label :care_group_id %>
            <%= form.collection_select :care_group_id, CareGroup.all, :id, :name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :administrator %>
            <%= form.check_box :administrator %>
          </div>
          
          <%= form.button 'Create Clinician', class: "btn btn-success" %>
        <% end %>