<!-- 
<form action="/movies" method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="name" class="form-control" id="name">
  </div>
  And so on...
  <button class="btn btn-success" name="button" type="submit">Create Movie</button>
</form>
-->
<h3 class="page-header">
  Create New Clinician
</h3>

<%= form_for @clinician do |form| %>
  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "form-control", placeholder: "First name" %>
  </div>

  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :occupation_id %>
    <%= form.collection_select :occupation_id, Occupation.all, :id, :name, { include_blank: true }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :gender_id %>
    <%= form.collection_select :gender_id, Gender.all, :id, :gender_type, { include_blank: true }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :password %>
    <%= form.text_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :office_number %>
    <%= form.text_field :office_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :mobile_number %>
    <%= form.text_field :mobile_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :emergency_message %>
    <%= form.text_area :emergency_message, class: "form-control", rows: 5 %>
  </div>

  <div class="form-group">
    <%= form.label :care_group_id %>
    <%= form.collection_select :care_group_id, CareGroup.all, :id, :name, { include_blank: true }, class: "form-control" %>
  </div>
  <%= form.button 'Create Clinician', class: "btn btn-success" %>
<% end %>