<head>
    <title>SeeYouNow | New Clinician</title>
</head> 

<% if @clinician.errors.any? %>
  <div class="alert alert-warning">
    <h2>Some errors kept this clinician from being saved:</h2>
    <ul>
      <% @clinician.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h3 class="page-header">
  Create New Clinician
</h3>

<div class="profile container content">
  <div class="centre">
    <div class="col-md-8">
      <!--Profile Body-->
      <div class="profile-body">

        <%= form_for @clinician do |form| %>

          <%= form.fields_for :user do |builder| %>
            <div class="form-group">
              <%= builder.label :email %>
              <%= builder.text_field :email, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= builder.label :password %>
              <%= builder.password_field :password, class: "form-control" %>
            </div>
          <% end %>

          <div class="form-group">
            <%= form.label :first_name %>
            <%= form.text_field :first_name, class: "form-control", placeholder: "First name" %>
          </div>

          <div class="form-group">
            <%= form.label :last_name %>
            <%= form.text_field :last_name, class: "form-control", placeholder: "Last name" %>
          </div>

          <div class="form-group">
            <%= form.label :occupation_id %>
            <%= form.collection_select :occupation_id, Occupation.all, :id, :name, { include_blank: true }, class: "form-control" %>
          </div>

          Type of new clinician: <select id="user_type">
              <option value="physician">Physician</option>
              <option value="nurse">Nurse</option>
              <option value="other">Other</option>
          </select><br />
          <span id="webname">

            <div class="form-group">
              <%= form.label :speciality_id %>
              <%= form.collection_select :speciality_id, Speciality.all, :id, :name, { include_blank: true }, class: "form-control" %>
            </div>

          </span>

          <span id="webname2">

            <div class="form-group">
              <%= form.label :speciality_id %>
              <%= form.collection_select :speciality_id, Speciality.all, :id, :name, { include_blank: true }, class: "form-control" %>
            </div>

          </span>

          <script>
            document.getElementById("user_type").onchange = function () {
                if (document.getElementById("user_type").options[document.getElementById("user_type").selectedIndex].value == "nurse")
                    document.getElementById("webname").style.display = "none";
                else
                  if (document.getElementById("user_type").options[document.getElementById("user_type").selectedIndex].value == "physician")
                    document.getElementById("webname2").style.display = "none";
                  else
                    document.getElementById("webname2").style.display = "block";
            }
          </script>

          <div class="form-group">
            <%= form.label :gender_id %>
            <%= form.collection_select :gender_id, Gender.all, :id, :gender_type, { include_blank: true }, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :office_number %>
            <%= form.text_field :office_number, class: "form-control", placeholder: "Office number" %>
          </div>

          <div class="form-group">
            <%= form.label :mobile_number %>
            <%= form.text_field :mobile_number, class: "form-control", placeholder: "Mobile number" %>
          </div>

          <div class="form-group">
            <%= form.label :emergency_message %>
            <%= form.text_area :emergency_message, class: "form-control", rows: 5, placeholder: "Emergency Message" %>
          </div>

          <div class="form-group">
            <%= form.label :care_group_id %>
            <%= form.collection_select :care_group_id, CareGroup.all, :id, :name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :administrator %>
            <%= form.check_box :administrator %>
          </div>
          
          <%= form.button 'Create Clinician', class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>