<!-- Use view helpers (e.g. link_to and image_tag) -->
<!-- and implement real data -->

<head>
    <title>SeeYouNow | Clinician Profile </title>
</head> 

<h1 class="page-header">
  <%= @clinician.full_name %>
  <span class="pull-right">
    <%= link_to "Edit", edit_clinician_path, class: 'btn btn-u btn-success' %>
  </span>
</h1>
 <h3 span class="diagnosis"><%= @clinician.occupation.name %>
  <% if @clinician.speciality == nil %>
  <% else %>
    , <%= @clinician.speciality.name %></span>
  <% end%>
</h3>


<body>
<!--=== Profile ===-->
    <div class="profile container content">
      <div class="row">
            <div class="col-md-12">
              <!--Profile Body-->
              <div class="profile-body">

                <div class="row margin-bottom-10"><!--start row-->

                  <!--=== Goals of Care Block ===-->
                  <div class="bg-color-light">
                      <div class="container content">
                        <div class="row">
                        <div class="col-md-11">
                          <div class="headline-center margin-bottom-10">
                              <h2>Emergency Message</h2>
                              <p><%= @clinician.care_group.emergency_message %></p>
                          </div>
                        </div>        
                        </div>
                      </div>
                  </div>
                  <!--=== End Goals of Care Block ===-->

                  <!--Patient Information-->
                  <div class="col-sm-6">
                      <div class="panel panel-profile no-bg">
                          <div class="panel-heading overflow-h">
                              <h2 class="panel-title heading-sm pull-left"><i class="fa fa-user-md"></i>Clinician Information</h2>
                          </div>
                          <div id="scrollbar" class="panel-body contentHolder">
                                <div class="profile-post color-one">
                                    <span class="profile-post-numb"></span>
                                    <div class="profile-post-in">
                                        <p><strong>Occupation:</strong> <%= @clinician.occupation.name %></p>
                                        <% if @clinician.speciality == nil %>
                                        <% else %>
                                          <p><strong>Speciality:</strong> <%= @clinician.speciality.name %></p>
                                        <% end%>
                  <% if current_clinician %>
                                        <p><strong>Gender:</strong> <%= @clinician.gender.gender_type %></p>
                                        <p><strong>Email:</strong> <%= User.find_by(id: @clinician.user_id).email %></p>
                                        <p><strong>Office number:</strong> <%= @clinician.office_number %></p>
                                        <p><strong>Mobile number:</strong> <%= @clinician.mobile_number %></p>
                                    </div>
                                </div>
                          </div>
                      </div>        
                  </div>
                  <!--End Patient Information-->

                  <!--Administrative Information-->
                  <div class="col-sm-6">
                      <div class="panel panel-profile no-bg">
                          <div class="panel-heading overflow-h">
                              <h2 class="panel-title heading-sm pull-left"><i class="fa fa-hospital-o"></i>Administrative Information</h2>
                          </div>
                          <div id="scrollbar" class="panel-body contentHolder">
                                <div class="profile-post color-one">
                                    <span class="profile-post-numb"></span>
                                    <div class="profile-post-in">
                                        <p><strong>Care Group</strong>
                                        <p><%= @clinician.care_group.name %></p>
                                    </div>
                                    <span class="profile-post-numb"></span>
                                    <div class="profile-post-in">
                                        <p><strong>Current SeeYouNow Patients</strong>
                                        <p><%= @current_patients %></p>
                                    </div>
                                    <span class="profile-post-numb"></span>
                                    <div class="profile-post-in">
                                        <p><strong>Archived Patients</strong>
                                        <p><%= @past_patients %></p>
                                    </div>
                                </div>
                          </div>
                      </div>        
                  </div>
                  <!--End Administrative Information-->

                  <% else %>
                                    </div>
                                </div>
                          </div>
                      </div>        
                  </div>
                  <!--End Patient Information-->

                  <% end %>

                </div><!--/end row-->
              </div><!--End Profile Body-->
            </div>
        </div><!--/end row-->
    </div><!--/container-->    
    <!--=== End Profile ===-->

</body>