<!-- Use view helpers (e.g. link_to and image_tag) -->
<!-- and implement real data -->

<h1 class="page-header">
  <%= @clinician.first_name %> <%= @clinician.last_name %>
  <span class="pull-right">
    <%= link_to "Edit", edit_clinician_path, class: 'btn btn-sm btn-success' %>
  </span>
</h1>
 <h3 span class="diagnosis"><%= @clinician.occupation %></span>
</h3>

<div class="row">
  <div class="col-md-3 text-center">
    <p><strong>Gender:</strong> <%= Gender.find_by(id: @clinician.gender).gender_type %></p>
    <p><strong>Email:</strong> <%= @clinician.email %></p>
    <p><strong>Office number:</strong> <%= @clinician.office_number %></p>
    <p><strong>Mobile number:</strong> <%= @clinician.mobile_number %></p>
  </div>
  <div class="col-md-4 summary">
    <h2 class="page-header">Emergency message</h2>
    <p>
      <%= @clinician.emergency_message %>
    </p>
  </div>
  <div class="col-md-3 actors">
    <h2 class="page-header">ESAS Scores from:</h2>
    <ul class="list-unstyled">
    <% @esas_assesments.each do |esas_assesment| %>
      <li><strong>For:</strong> <%= Patient.find_by(id: esas_assesment.patient_id).first_name %> <%= Patient.find_by(id: esas_assesment.patient_id).last_name %></li>
      <li><strong>At:</strong> <%= link_to esas_assesment.time, esas_assesment_path(esas_assesment) %></li><li class="divider"></li>
    <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-9 col-md-offset-3 information">
    <h2 class="page-header">Information</h2>
    <table class="table table-striped table-bordered">
      <tr>
        <td><strong>Care Group</strong></td>
        <td><%= @clinician.care_group.name %></td>
      </tr>
      <tr>
        <td><strong>Password</strong></td>
        <td><%= @clinician.password %></td>
      </tr>
    </table>
  </div>
</div>