<!-- Use view helpers (e.g. link_to and image_tag) -->
<!-- and implement real data -->

<h1 class="page-header">
  <%= @clinician.first_name %> <%= @clinician.last_name %>
  <span class="pull-right">
    <%= link_to "Edit", edit_clinician_path, class: 'btn btn-sm btn-success' %>
  </span>
</h1>
 <h3 span class="diagnosis"><%= @clinician.occupation.name %></span>
</h3>

<div class="row">
  <div class="col-md-3 text-center">
    <p><strong>Gender:</strong> <%= @clinician.gender.gender_type %></p>
    <p><strong>Email:</strong> <%= current_user.try(:email) %></p>
    <p><strong>Office number:</strong> <%= @clinician.office_number %></p>
    <p><strong>Mobile number:</strong> <%= @clinician.mobile_number %></p>
  </div>
  <div class="col-md-4 summary">
    <h2 class="page-header">Emergency message</h2>
    <p>
      <%= @clinician.emergency_message %>
    </p>
  </div>
  <div class="col-md-3 actors">
    <h2 class="page-header">ESAS Scores from:</h2>
    <ul class="list-unstyled">
    <% @esas_assessments.each do |esas_assessment| %>
      <li><strong>For:</strong> <%= esas_assessment.patient.first_name %> <%= esas_assessment.patient.last_name %></li>
      <li><strong>At:</strong> <%= link_to esas_assessment.time, esas_assessment_path(esas_assessment) %></li><li class="divider"></li>
    <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-9 col-md-offset-3 information">
    <h2 class="page-header">Information</h2>
    <table class="table table-striped table-bordered">
      <tr>
        <td><strong>Care Group</strong></td>
        <td><%= @clinician.care_group.name %></td>
      </tr>
    </table>
  </div>
</div>