<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>SeeYouNow | Welcome </title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>

    <!-- CSS Implementing Plugins -->
    <%= stylesheet_link_tag "line-icons", media: "all", "data-turbolinks-track" => true %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- CSS Page Style -->    
    <%= stylesheet_link_tag "portfolio-v2", media: "all", "data-turbolinks-track" => true %>

    <!-- CSS Theme -->    
    <%= stylesheet_link_tag "default", media: "all", "data-turbolinks-track" => true %>

    <!-- CSS Customization -->
    <%= stylesheet_link_tag "custom", media: "all", "data-turbolinks-track" => true %>
</head> 

<body>
<div class="wrapper">
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">About me</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="">Page</a></li>
                <li class="active">About me</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== About Me Img ===-->
    <div class="container content">
        <div class="row about-me margin-bottom-40">
            <div class="col-md-5 shadow-wrapper md-margin-bottom-20">
                <div class="box-shadow shadow-effect-2">
                    <img class="img-responsive" src="assets/image/team/team1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-7">
                <div class="overflow-h">
                    <div class="pull-left">
                        <h2>Elizabeta Watson</h2>
                        <span><%= link_to 'CEO, Director', page_path('blog_page') %></span>
                    </div>    
                    <ul class="social-icons pull-right">
                        <li><a class="rounded-x social_facebook" data-original-title="Facebook" href="#"></a></li>
                        <li><a class="rounded-x social_twitter" data-original-title="Twitter" href="#"></a></li>
                        <li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="#"></a></li>
                        <li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="#"></a></li>
                    </ul>
                </div>    
                <p>Nulla fermentum blandit dolor eu dictum. Nulla faucibus libero eget mi tempus, quis laoreet ante congue. Nullam sed tortor vitae magna auctor vestibulum. Fusce gravida, mauris at vulputate aliquet, arcu nunc scelerisque mi, pellentesque mollis lectus mauris in urna.</p>
                <p>Suspendisse non magna sed justo tincidunt pellentesque. Proin sit amet ligula vel orci tempus viverra. Donec massa justo, sodales in leo pretium, adipiscing dictum mi. Nullam sed eleifend purus. Sed eget lacus eget urna venenatis hendrerit sed sit amet dui. Suspendisse lorem velit, tincidunt nec mattis ut, gravida adipiscing sapien.</p>
                <ul class="list-unstyled">
                    <li><i class="color-green fa fa-check"></i> Nullam sed eleifend purus</li>
                    <li><i class="color-green fa fa-check"></i> Proin sit amet ligula vel orci tempus viverra</li>
                    <li><i class="color-green fa fa-check"></i> Nulla fermentum blandit dolor eu dictum</li>
                    <li><i class="color-green fa fa-check"></i> Donec varius lacus et neque vestibulum hendrerit</li>
                </ul>
            </div>
        </div>

        <!-- About Me -->
        <div class="row about-my-goals margin-bottom-20">
            <div class="col-md-4 md-margin-bottom-20">    
                <h2 class="heading-md">My <span class="color-green">achievements</span></h2>
                <p>Donec bibendum vitae lacus vitae eleifend. Curabitur vitae turpis eget mi vulputate volutpat. Curabitur molestie magna non tellus viverra ornare. Etiam enim sapien, tristique et faucibus et, scelerisque id risus.</p>
                <p>Sed quis tortor metus. Morbi fringilla in mi ac accumsan. Vestibulum in arcu turpis. Donec congue interdum eleifend.</p>
                <a class="btn-u" href="#">View more</a>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-6 info-blocks">
                        <i class="fa fa-bell-o icon-info-blocks"></i>
                        <div class="info-blocks-in">
                            <h3>New title comes here</h3>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
                        </div>
                    </div>
                    <div class="col-sm-6 info-blocks">
                        <i class="fa fa-hdd-o icon-info-blocks"></i>
                        <div class="info-blocks-in">
                            <h3>New title comes here</h3>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 info-blocks">
                        <i class="fa fa-lightbulb-o icon-info-blocks"></i>
                        <div class="info-blocks-in">
                            <h3>New title comes here</h3>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
                        </div>
                    </div>
                    <div class="col-sm-6 info-blocks">
                        <i class="fa fa-thumbs-o-up icon-info-blocks"></i>
                        <div class="info-blocks-in">
                            <h3>New title comes here</h3>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <!-- End About Me -->
    </div>
    <!--=== End About Me Img ===-->

    <!--=== Skills ===-->
    <div class="about-skills margin-bottom-20">
        <div class="container">
            <div class="title-box-v2">
                <h2>My <span class="color-green">Skills</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <!-- Pie Charts v2 -->
            <div class="row pie-progress-charts">
                <div class="inner-pchart col-sm-3 col-xs-6">
                    <div class="circle" id="circle-6"></div>
                    <h3 class="circle-title">UI Design</h3>
                </div> 
                <div class="inner-pchart col-sm-3 col-xs-6">
                    <div class="circle" id="circle-7"></div>
                    <h3 class="circle-title">Web Development</h3>
                </div>       
                <div class="inner-pchart col-sm-3 col-xs-6">
                    <div class="circle" id="circle-8"></div>
                    <h3 class="circle-title">JavaScript</h3>
                </div>
                <div class="inner-pchart col-sm-3 col-xs-6">
                    <div class="circle" id="circle-9"></div>
                    <h3 class="circle-title">Web Animation</h3>
                </div>
            </div>    
            <!-- End Pie Charts v2 -->
        </div>
    </div>    
    <!--=== End Skills ===-->

    <!--=== Container Part ===-->
    <div class="container content margin-bottom-20">
        <div class="title-box-v2">
            <h2>Latest <span class="color-green"> projects</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="sorting-block">
            <ul class="sorting-nav sorting-nav-v1 text-center">
                <li data-filter="all" class="filter active">All</li>
                <li data-filter="category_1" class="filter">UI Design</li>
                <li data-filter="category_2" class="filter">Wordpress</li>
                <li data-filter="category_3" class="filter">HTML5/CSS3</li>
                <li data-filter="category_3 category_1" class="filter">Bootstrap 3</li>
            </ul>

            <ul class="row sorting-grid" style="  transform:   ">
                <li data-cat="1" class="col-md-3 col-sm-6 col-xs-12 mix category_1 mix_all" style=" display: inline-block; opacity: 1;">
                    <a href="#">
                        <img alt="" src="assets/image/main/11.jpg" class="img-responsive">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                    </a>
                </li>
                <li data-cat="3" class="col-md-3 col-sm-6 col-xs-12 mix category_3 mix_all" style=" display: inline-block; opacity: 1;">
                    <a href="#">
                        <img alt="" src="assets/image/main/12.jpg" class="img-responsive">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                    </a>
                </li>
                <li data-cat="2" class="col-md-3 col-sm-6 col-xs-12 mix category_2 mix_all" style=" display: inline-block; opacity: 1;">
                    <a href="#">
                        <img alt="" src="assets/image/main/13.jpg" class="img-responsive">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                    </a>
                </li>
                <li data-cat="3" class="col-md-3 col-sm-6 col-xs-12 mix category_3 mix_all" style=" display: inline-block; opacity: 1;">
                    <a href="#">
                        <img alt="" src="assets/image/main/3.jpg" class="img-responsive">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                    </a>
                </li>
                <li data-cat="2" class="col-md-3 col-sm-6 col-xs-12 mix category_2 mix_all" style=" display: inline-block; opacity: 1;">
                    <a href="#">
                        <img alt="" src="assets/image/main/2.jpg" class="img-responsive">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                    </a>
                </li>
                <li data-cat="1" class="col-md-3 col-sm-6 col-xs-12 mix category_1 mix_all" style=" display: inline-block; opacity: 1;">
                    <a href="#">
                        <img alt="" src="assets/image/main/6.jpg" class="img-responsive">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                    </a>
                </li>
                <li data-cat="2" class="col-md-3 col-sm-6 col-xs-12 mix category_2 mix_all" style=" display: inline-block; opacity: 1;">
                    <a href="#">
                        <img alt="" src="assets/image/main/8.jpg" class="img-responsive">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                    </a>
                </li>
                <li data-cat="1" class="col-md-3 col-sm-6 col-xs-12 mix category_1 mix_all" style=" display: inline-block; opacity: 1;">
                    <a href="#">
                        <img alt="" src="assets/img/main/1.jpg" class="img-responsive">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                    </a>
                </li>
            </ul>
        
            <div class="clearfix"></div>
        </div>
    </div><!--/container-->
    <!--=== Container Part ===-->

    
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">                     
                        <p>
                            2014 &copy; All Rights Reserved.
                           <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                        </p>
                    </div>

                    <!-- Social Links -->
                    <div class="col-md-6">
                        <ul class="footer-socials list-inline">
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                                    <i class="fa fa-skype"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Social Links -->
                </div>
            </div> 
        </div><!--/copyright-->
    </div>     
    <!--=== End Footer Version 1 ===-->
</div><!--/End Wrapepr-->

<!-- JS Global Compulsory -->           
<%= javascript_include_tag "jquery.min", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery-migrate.min", "data-turbolinks-track" => true %>
<%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
<!-- JS Implementing Plugins -->
<%= javascript_include_tag "back-to-top", "data-turbolinks-track" => true %>
<%= javascript_include_tag "circles", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery.mixitup.min", "data-turbolinks-track" => true %>  
<!-- JS Customization -->
<%= javascript_include_tag "custom", "data-turbolinks-track" => true %>
<!-- JS Page Level -->           
<%= javascript_include_tag "app", "data-turbolinks-track" => true %>
<%= javascript_include_tag "circles-master", "data-turbolinks-track" => true %>
<%= javascript_include_tag "page_portfolio", "data-turbolinks-track" => true %>
<script type="text/javascript">
    jQuery(document).on('page:change',(function() {
        App.init();
        PortfolioPage.init(); 
        CirclesMaster.initCirclesMaster1();      
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/js/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

</body>
</html> 