
<head>
    <title>SeeYouNow | Home</title>
</head>	

    <!--=== Priority Alerts ===-->
    <div class="profile container content">
      <div class="row">
          <% if current_clinician %>            
            <div class="col-md-7">
                <!--Profile Body-->
                <div class="profile-body">
                    <!--Service Block v3-->
                        
                    <div class="row">
                        <!--Priority-->
                        <div class="col-sm-12 sm-margin-bottom-30">
                            <div class="panel panel-profile">
                                <div class="panel-heading overflow-h">
                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-bell-o"></i> Priority Alerts</h2>
                                </div>
                                <div id="scrollbar1" class="panel-body contentHolder">
                                  <% @esas_assessments.order("created_at desc").each do |priority| %>
                                    <% if [priority.pain, priority.tiredness, priority.drowsiness, priority.nausea, priority.lack_of_appetite, priority.shortness_of_breath, priority.depression, priority.anxiety, priority.wellbeing, priority.other_symptom_score].max >= 8 and priority.priority_resolved == false %>
                                        <div class="alert-blocks alert-blocks-error alert-dismissable">
                                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                            <i class="icon-custom rounded-x icon-bg-red fa fa-line-chart"></i>
                                            <div class="overflow-h">
                                                <strong class="color-red"><%= link_to "Priority ESAS Assessment", esas_assessment_path(priority) %><small class="pull-right"><em><%= time_ago_in_words(priority.created_at) %> ago</em></small></strong> 
                                                <p>Submitted by <%= priority.patient.first_name %> <%= priority.patient.last_name %></p>
                                            </div>    
                                        </div>
                                    <% end %>
                                  <% end %>
                                </div>
                            </div>
                        </div>
                        <!--End Priority-->
                    </div><!--/end row-->
                </div>
            </div>
          <% end %>
      </div>
    </div><!--/container-->    
    <!--=== End Priority Alerts ===-->


    <!--=== Profile ===-->
    <div class="profile container content">
    	<div class="row">
          <% if current_clinician %>            
            <div class="col-md-12">
                <!--Profile Body-->
                <div class="profile-body">
                    <!--Service Block v3-->
                        
                    <div class="row">
                        <!--Notifications-->
                        <div class="col-sm-7 sm-margin-bottom-30">
                            <div class="panel panel-profile">
                                <div class="panel-heading overflow-h">
                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-bell-o"></i> Notifications</h2>
                                </div>
                                <div id="scrollbar2" class="panel-body contentHolder">
                                  <style>
                                    #container {
                                      position: relative;
                                      height: 200px; /* Or whatever you want (eg. 400px) */
                                    }
                                  </style>
                                  <% @notifications.sort_by{|e| e[:created_at]}.reverse.each do |notification| %>
                                    <% if notification.is_a?(EsasAssessment) %>
                                      <div class="alert-blocks alert-blocks-success alert-dismissable">
                                          <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                          <i class="icon-custom rounded-x icon-bg-green fa fa-line-chart"></i>
                                          <div class="overflow-h">
                                              <strong class="color-green"><%= link_to "New ESAS Assessment", esas_assessment_path(notification) %><small class="pull-right"><em><%= time_ago_in_words(notification.created_at) %> ago</em></small></strong> 
                                              <p>Submitted by <%= notification.patient.first_name %> <%= notification.patient.last_name %></p>
                                          </div>    
                                      </div>
                                    <% else %>
                                      <% if notification.is_a?(PrfsAssessment) %>
                                        <div class="alert-blocks alert-blocks-info alert-dismissable">
                                          <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                          <i class="icon-custom rounded-x icon-bg-blue fa fa-envelope"></i>
                                          <div class="overflow-h">
                                              <strong class="color-blue"><%= link_to "New PRFS Assessment", prfs_assessment_path(notification) %><small class="pull-right"><em><%= time_ago_in_words(notification.created_at) %> ago</em></small></strong> 
                                              <p>Submitted by <%= notification.patient.first_name %> <%= notification.patient.last_name %></p>
                                          </div>    
                                        </div>
                                      <% else %>
                                        <% if notification.from == current_user.id %>
                                          <% "Something" %>
                                        <% else %>
                                          <div class="alert-blocks alert-dismissable">
                                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                            <i class="icon-custom rounded-x icon-bg-dark fa fa-comments"></i>
                                            <div class="overflow-h">
                                                <strong class="color-dark"><%= link_to "New Comment", comment_path(notification) %><small class="pull-right"><em><%= time_ago_in_words(notification.created_at) %> ago</em></small></strong> 
                                                <p>From <%= notification.patient.first_name %> <%= notification.patient.last_name %></p>
                                            </div>    
                                          </div>
                                        <% end %>
                                      <% end %>
                                    <% end %>
                                  <% end %>
                                </div>
                            </div>
                        </div>
                        <!--End Notifications-->
                        
                        <!--Comments Post-->
                        <div class="col-sm-5">
                            <div class="panel panel-profile">
                                <div class="panel-heading overflow-h">
                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-comments-o"></i> Comments</h2>
                                </div>
                                <div id="scrollbar3" class="panel-body contentHolder">
                                  <% @comments.limit(99).each_with_index do |comment, index| %>
                                    <% if comment.from == current_user.id %>
                                        <% "Something" %>
                                    <% else %>
                                      <div class="comment">
                                          <div class="overflow-h">
                                              <strong><%= comment.patient.first_name %> <%= comment.patient.last_name %><small class="pull-right"> <%= time_ago_in_words(comment.created_at) %></small></strong> 
                                              <p><%= comment.general_comment %></p>
                                              <ul class="list-inline comment-list">
                                                  <li><i class="fa fa-user-md"></i> <a href="#"><%= comment.patient.diagnosis %></a></li>
                                              </ul>
                                          </div>    
                                      </div>
                                    <% end %>
                                  <% end %>
                                </div>
                            </div>    
                        </div><!--End Comments Post-->
                    </div><!--/end row-->        

                </div>
                <!--End Profile Body-->


          <% else %><!--Patient Section-->


            <div class="col-md-12">
                <!--=== Content Part ===-->
                <!--Profile Body-->
                <div class="profile-body">
                    <!--Service Block v3-->
                        
                    <div class="row">
                                               
                        <!--Comments Post-->
                        <div class="col-sm-4">
                            <div class="panel panel-profile">
                                <div class="panel-heading overflow-h">
                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-comments-o"></i> Comments</h2>
                                    <a href="/comments/new"><i class="fa fa-envelope pull-right"> new</i></a>
                                </div>
                                <div id="scrollbar4" class="panel-body contentHolder">
                                  <% @comments.each_with_index do |comment, index| %>
                                    <% if comment.from == current_user.id %>
                                        <% "Something" %>
                                    <% else %>
                                      <div class="comment">
                                          <div class="overflow-h">
                                              <strong><%= comment.clinician.first_name %> <%= comment.clinician.last_name %><small class="pull-right"> <%= time_ago_in_words(comment.created_at) %></small></strong> 
                                              <p><%= comment.general_comment %></p>
                                              <ul class="list-inline comment-list">
                                                  <li><i class="fa fa-user-md"></i> <a href="#"><%= comment.clinician.occupation.name %></a></li>
                                              </ul>
                                          </div>    
                                      </div>
                                    <% end %>
                                  <% end %>
                                </div>
                            </div>    
                        </div><!--End Comments Post-->
                        <div class="col-md-4 col-sm-6">
                            <div class="service-block service-block-u">            
                                <i class="icon-2x color-light fa fa-line-chart", href="#collapseOne"></i>
                                <h2 class="heading-md"><%= link_to "New ESAS Assessment", new_esas_assessment_path, class: 'btn-u btn-u-lg' %></h2>
                                <p>The Edmonton Symptom Assessment System (ESAS) is a valid and reliable assessment tool to assist in the assessment of nine common symptoms experienced by patients.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-block service-block-blue">
                                <i class="icon-2x color-light fa fa-envelope"></i>
                                <h2 class="heading-md"><%= link_to "New PFRS Assessment", new_esas_assessment_path, class: 'btn-u btn-u-lg btn-u-blue' %></h2>
                                <p>The Patient Reported Functional Status (PRFS) tool is a tool completed by patients that assesses their functional status, or activity levels.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/end row-->
      <% end %>
    </div><!--/container-->    
    <!--=== End Profile ===-->
  </div>
  </div>
