<head>
    <title>SeeYouNow | Edit Patient</title>
</head> 

<% if @patient.errors.any? %>
  <div class="alert alert-warning">
    <h2>Some errors kept this patient from being saved:</h2>
    <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="profile container content">
  <div class="centre">
    <div class="col-md-8">
      <!--Profile Body-->
      <div class="profile-body">

        <%= form_for @patient do |form| %>
          <div class="form-group">
            <%= form.label :first_name %>
            <%= form.text_field :first_name, class: "form-control", placeholder: "First name" %>
          </div>

          <div class="form-group">
            <%= form.label :last_name %>
            <%= form.text_field :last_name, class: "form-control", placeholder: "Last name" %>
          </div>

          <div class="form-group">
            <%= form.label :diagnosis %>
            <%= form.text_field :diagnosis, class: "form-control", placeholder: "Diagnosis" %>
          </div>

          <div class="form-group">
            <%= form.label :diagnosis_date %>
            <%= form.date_select(:diagnosis_date, :discard_day => true, :start_year => 1985, :end_year => Date.today.year)%>
          </div>

          <div class="form-group">
            <%= form.label :gender %>
            <%= form.collection_select :gender, Gender.all, :id, :gender_type, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :birth_date %>
            <%= form.date_select(:birth_date, :start_year => 1910, :end_year => Date.today.year) %>
          </div>

          <div class="form-group">
            <%= form.label :address %>
            <%= form.text_field :address, class: "form-control", placeholder: "Steet address" %>
          </div>

          <div class="form-group">
            <%= form.label :phone_number %>
            <%= form.text_field :phone_number, class: "form-control", placeholder: "Phone number" %>
          </div>

          <div class="form-group">
            <%= form.label :goals_of_care %>
            <%= form.text_field :goals_of_care, class: "form-control", placeholder: "Goals of care" %>
          </div>

          <div class="form-group">
            <%= form.label :important_to_you %>
            <%= form.text_field :important_to_you, class: "form-control", placeholder: "Information important to patient  - Ex. Religion, bowling, bucket list" %>
          </div>

         <div class="form-group">
            <% Clinician.where(care_group_id: @care_group.id).each do |clinician| %>
              <%= check_box_tag "patient[clinician_ids][]", clinician.id, @patient.clinician_ids.include?(clinician.id), id: dom_id(clinician) %>
              <%= label_tag dom_id(clinician), clinician.full_name %><br>
            <% end %>

            <%= collection_select(:patient, :clinician_ids, 
              Clinician.where(care_group_id: @care_group.id).order("first_name asc"), 
              :id, :full_name, {:selected => @patient.clinician_ids, :include_blank => true}, {:multiple => true}) %>

            <%= form.fields_for :care_group_assignments do |gf| %>
              <%= gf.label :clinician_id, "Select a clinician" %>
              <%= gf.collection_select(:clinician_id, Clinician.where(care_group_id: @care_group.id).order("first_name asc"), :id, :full_name, {}, {:multiple => true}) %>
            <% end %>
          </div>

          <div class="form-group">
            <%= form.label :care_group %>
            <%= form.collection_select :care_group, CareGroup.all, :id, :name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :patient_deceased %>
            <%= form.check_box :patient_deceased %>
          </div>

          <div class="form-group">
            <%= form.label :patient_archived %>
            <%= form.check_box :patient_archived %>
          </div>
          <%= form.button 'Update Patient', class: "btn btn-u btn-success" %>
        <% end %>
      </div><!--End Profile Body-->
    </div>
  </div><!--/end centre-->
</div><!--/container-->  
