<% if @patient.errors.any? %>
  <div class="alert alert-warning">
    <h2>Some errors kept this movie from being saved:</h2>
    <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @patient do |form| %>
  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group">
  	<%= form.label :last_name %>
  	<%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group">
  	<%= form.label :username %>
  	<%= form.text_field :username, class: "form-control" %>
  </div>

  <div class="form-group">
  	<%= form.label :diagnosis %>
  	<%= form.text_field :diagnosis, class: "form-control" %>
  </div>

  <div class="form-group">
  	<%= form.label :gender_id %>
  	<%= form.text_field :gender_id, class: "form-control" %>
  </div>

  <div class="form-group">
  	<%= form.label :age %>
  	<%= form.text_field :age, class: "form-control" %>
  </div>

  <div class="form-group">
  	<%= form.label :address %>
  	<%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
  	<%= form.label :email %>
  	<%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
  	<%= form.label :password %>
  	<%= form.text_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
  	<%= form.label :phone_number %>
  	<%= form.text_field :phone_number, class: "form-control" %>
  </div>

  <div class="form-group">
  	<%= form.label :caregiver_name %>
  	<%= form.text_field :caregiver_name, class: "form-control" %>
  </div>

  <div class="form-group">
  	<%= form.label :other_sypmtom %>
  	<%= form.text_field :other_symptom, class: "form-control" %>
  </div>

  <div class="form-group">
  	<%= form.label :goals_of_care %>
  	<%= form.text_field :goals_of_care, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :patient_deceased %>
    <%= form.check_box :patient_deceased %>
  </div>
  
  <div class="form-group">
    <%= form.label :patient_archived %>
    <%= form.check_box :patient_archived %>
  </div>
  <%= form.button 'Update Patient', class: "btn btn-success" %>
<% end %>