<!DOCTYPE html>
<head>
    <title>SeeYouNow | Patient Index</title>
</head>	

<h3 class="page-header">
  Manage Patients
  <span class="pull-right">
    <%= link_to "New Patient", new_patient_path, class: 'btn btn-u btn-success' %>
  </span>
</h3>

<body>
<!--=== Profile ===-->
    <div class="profile container content">
      <div class="row">
            <div class="col-md-12">
            	<!--Profile Body-->
            	<div class="profile-body">

            		<div class="row margin-bottom-20"><!--start row-->
            		  <!--Profile Post-->
            		  <div class="col-sm-6">
            		      <div class="panel panel-profile no-bg">
            		          <div class="panel-heading overflow-h">
            		              <h2 class="panel-title heading-sm pull-left"><i class="fa fa-bed"></i>Patients You Are Managing</h2>
            		              <a href="#"><i class="fa fa-cog pull-right"></i></a>
            		          </div>
            		          <div id="scrollbar" class="panel-body contentHolder">
            		          
            		          <% @patients.each_with_index do |patient, index| %>
            		          	<% if patient.patient_deceased == false %>
            		              <div class="profile-post color-one">
            		                  <span class="profile-post-numb"><%= index+1 %></span>
            		                  <div class="profile-post-in">
            		                      <h3 class="heading-xs"><a><%= link_to "#{patient.first_name} #{patient.last_name}", patient_path(patient) %></a></h3>
            		                      <p><%= patient.diagnosis %><i class="pull-right"><%= link_to "Edit", edit_patient_path(patient) %> <%= link_to "Delete", patient_path(patient), method: :delete, data: {confirm: 'Are you sure you want to delete'} %></i></p>
            		                  </div>
            		              </div>
            		            <% end %>
            		          <% end %>
            		          </div>
            		      </div>        
            		  </div>
            		  <!--End Profile Post-->
            		  <!--Profile Event-->
            		  <div class="col-sm-6">
                      <div class="panel panel-profile no-bg">
                          <div class="panel-heading overflow-h">
            		              <h2 class="panel-title heading-sm pull-left"><i class="fa fa-users"></i>Shared Patients</h2>
            		              <a href="#"><i class="fa fa-cog pull-right"></i></a>
            		          </div>
            		          <div id="scrollbar" class="panel-body contentHolder">
            		          <% @shared.each_with_index do |patient, index| %>
            		              <div class="profile-post color-two">
            		                  <span class="profile-post-numb"><%= index+1 %></span>
            		                  <div class="profile-post-in">
            		                      <h3 class="heading-xs"><a><%= link_to "#{patient.first_name} #{patient.last_name}", patient_path(patient) %></a></h3>
            		                      <p><%= patient.diagnosis %></p>
            		                  </div>
            		              </div>
            		          <% end %>
            		          </div>    
            		      </div>
            		  </div>
            		  <!--End Profile Event-->
            		</div><!--/end row-->

            		<hr>

            		<div class="row margin-bottom-20"><!--start row-->
            		  <!--Profile Post-->
            		  <div class="col-sm-6">
            		      <div class="panel panel-profile no-bg">
            		          <div class="panel-heading overflow-h">
            		              <h2 class="panel-title heading-sm pull-left"><i class="fa fa-user-times"></i>Previous Patients</h2>
            		              <a href="#"><i class="fa fa-cog pull-right"></i></a>
            		          </div>
            		          <div id="scrollbar" class="panel-body contentHolder">
            		          <% @patients.each_with_index do |patient, index| %>
            		          	<% if patient.patient_deceased == true %>
            		              <div class="profile-post color-five">
            		                  <span class="profile-post-numb"><%= index+1 %></span>
            		                  <div class="profile-post-in">
            		                      <h3 class="heading-xs"><a><%= link_to "#{patient.first_name} #{patient.last_name}", patient_path(patient) %></a></h3>
            		                      <p><%= patient.diagnosis %></p>
            		                  </div>
            		              </div>
            		            <% end %>
            		          <% end %>
            		          </div>
            		      </div>        
            		  </div>
            		  <!--End Profile Post-->
            		</div><!--/end row-->
            	</div><!--End Profile Body-->
            </div>
        </div><!--/end row-->
    </div><!--/container-->    
    <!--=== End Profile ===-->

</body>