<head>
    <title>SeeYouNow | Patient Index</title>
</head>	

<h3 class="page-header">
  All Patients
  <span class="pull-right">
    <%= link_to "New Patient", new_patient_path, class: 'btn btn-sm btn-success' %>
  </span>
</h3>

<ul>
  <% @patients.each do |patient| %>
    <li><h3><%= link_to "#{patient.first_name} #{patient.last_name}", patient_path(patient) %></h3> <%= link_to "Edit", edit_patient_path(patient) %> <%= link_to "Delete", patient_path(patient), method: :delete, data: {confirm: 'Are you sure you want to delete'} %></li>
  <% end %>
</ul>

<div class="row margin-bottom-20">
  <!--Profile Post-->
  <div class="col-sm-6">
      <div class="panel panel-profile no-bg">
          <div class="panel-heading overflow-h">
              <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i>Notes</h2>
              <a href="#"><i class="fa fa-cog pull-right"></i></a>
          </div>
          <div id="scrollbar" class="panel-body contentHolder">
              <div class="profile-post color-one">
                  <span class="profile-post-numb">01</span>
                  <div class="profile-post-in">
                      <h3 class="heading-xs"><a href="#">Creative Blog</a></h3>
                      <p>How to market yourself as a freelance designer</p>
                  </div>
              </div>
              <div class="profile-post color-two">
                  <span class="profile-post-numb">02</span>
                  <div class="profile-post-in">
                      <h3 class="heading-xs"><a href="#">Codrops Collective #117</a></h3>
                      <p>Web Design &amp; Development News</p>
                  </div>
              </div>
              <div class="profile-post color-three">
                  <span class="profile-post-numb">03</span>
                  <div class="profile-post-in">
                      <h3 class="heading-xs"><a href="#">Sketch Toolbox</a></h3>
                      <p>Basic prototype of a package manager for Sketch</p>
                  </div>
              </div>
              <div class="profile-post color-four">
                  <span class="profile-post-numb">04</span>
                  <div class="profile-post-in">
                      <h3 class="heading-xs"><a href="#">Amazing Portfolio</a></h3>
                      <p>Create a free online portfolio lookbook with Readz</p>
                  </div>
              </div>
              <div class="profile-post color-five">
                  <span class="profile-post-numb">05</span>
                  <div class="profile-post-in">
                      <h3 class="heading-xs"><a href="#">Discover New Features</a></h3>
                      <p>More than 100+ amazing add-ons coming soon...</p>
                  </div>
              </div>
              <div class="profile-post color-six">
                  <span class="profile-post-numb">06</span>
                  <div class="profile-post-in">
                      <h3 class="heading-xs"><a href="#">Corporation Plans</a></h3>
                      <p>Discussion of new corporation plans</p>
                  </div>
              </div>
              <div class="profile-post color-seven">
                  <span class="profile-post-numb">07</span>
                  <div class="profile-post-in">
                      <h3 class="heading-xs"><a href="#">Project Updates</a></h3>
                      <p>New features of coming update</p>
                  </div>
              </div>
          </div>
      </div>        
  </div>
  <!--End Profile Post-->
  <!--Profile Event-->
  <div class="col-sm-6 md-margin-bottom-20">
      <div class="panel panel-profile no-bg">
          <div class="panel-heading overflow-h">
              <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i>Upcoming Events</h2>
              <a href="#"><i class="fa fa-cog pull-right"></i></a>
          </div>
          <div id="scrollbar2" class="panel-body contentHolder">
              <div class="profile-event">
                  <div class="date-formats">
                      <span>25</span>
                      <small>05, 2014</small>
                  </div>
                  <div class="overflow-h">
                      <h3 class="heading-xs"><a href="#">GitHub seminars in Japan.</a></h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing.</p>
                  </div>    
              </div>
              <div class="profile-event">
                  <div class="date-formats">
                      <span>31</span>
                      <small>06, 2014</small>
                  </div>
                  <div class="overflow-h">
                      <h3 class="heading-xs"><a href="#">Bootstrap Update</a></h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing.</p>
                  </div>    
              </div>
              <div class="profile-event">
                  <div class="date-formats">
                      <span>07</span>
                      <small>08, 2014</small>
                  </div>
                  <div class="overflow-h">
                      <h3 class="heading-xs"><a href="#">Apple Conference</a></h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing.</p>
                  </div>    
              </div>
              <div class="profile-event">
                  <div class="date-formats">
                      <span>22</span>
                      <small>10, 2014</small>
                  </div>
                  <div class="overflow-h">
                      <h3 class="heading-xs"><a href="#">Backend Meeting</a></h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing.</p>
                  </div>    
              </div>
              <div class="profile-event">
                  <div class="date-formats">
                      <span>14</span>
                      <small>11, 2014</small>
                  </div>
                  <div class="overflow-h">
                      <h3 class="heading-xs"><a href="#">Google Conference</a></h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing.</p>
                  </div>    
              </div>
              <div class="profile-event">
                  <div class="date-formats">
                      <span>05</span>
                      <small>12, 2014</small>
                  </div>
                  <div class="overflow-h">
                      <h3 class="heading-xs"><a href="#">FontAwesome Update</a></h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing.</p>
                  </div>    
              </div>
          </div>    
      </div>
  </div>
  <!--End Profile Event-->
</div><!--/end row-->

<ul>
  <% @esas_assessments.each do |esas_assessment| %>
    <li><h3><%= link_to "#{esas_assessment.patient.first_name} #{esas_assessment.patient.last_name}", esas_assessment_path(esas_assessment) %></h3> <%= link_to "Edit", edit_esas_assessment_path(esas_assessment) %> <%= link_to "Delete", esas_assessment_path(esas_assessment), method: :delete, data: {confirm: 'Are you sure you want to delete'} %></li>
  <% end %>
</ul>