<!-- Use view helpers (e.g. link_to and image_tag) -->
<!-- and implement real data -->

<head>
    <title>SeeYouNow | Patient Profile</title>
</head> 

<h3 class="page-header">
  <%= @patient.first_name %> <%= @patient.last_name %>
  <span class="pull-right">
    <%= link_to "Edit", edit_patient_path, class: 'btn btn-sm btn-success' %>
  </span>
</h3>
 <h3 span class="diagnosis"><%= @patient.diagnosis %>
 <span class="pull-right">
    <%= link_to "Complete ESAS assessment", new_esas_assessment_path, class: 'btn btn-sm btn-success' %>
  </span>
</h3>
<h3 span class="nul">
 <span class="pull-right">
    <%= link_to "Complete PFRS assessment", new_esas_assessment_path, class: 'btn btn-sm btn-success' %>
  </span>
</h3>

<% if current_clinician %>
<head>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load('visualization', '1.1', {packages: ['line']});
    google.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Date');
      data.addColumn('number', 'Pain');
      data.addColumn('number', 'Tiredness');
      data.addColumn('number', 'Drowsiness');
      data.addColumn('number', 'Nausea');
      data.addColumn('number', 'Lack of Appetite');
      data.addColumn('number', 'Shortness of Breath');
      data.addColumn('number', 'Depression');
      data.addColumn('number', 'Wellbeing');
      data.addColumn('number', 'Other Problem');

      data.addRows([
        <% @esas_assessments.each do |esas_assessment| %>
          [ new Date(<%= esas_assessment.updated_at.strftime("%Y, %m, %d" ) %>), <%= "#{esas_assessment.pain}, #{esas_assessment.tiredness}, #{esas_assessment.drowsiness}, #{esas_assessment.nausea}, #{esas_assessment.lack_of_appetite}, #{esas_assessment.shortness_of_breath}, #{esas_assessment.depression}, #{esas_assessment.wellbeing}, #{esas_assessment.other_symptom_score}" %>],
        <% end %>
      ]);

      var options = {
        chart: {
          title: 'Profile of Symptom Severity Over Time',
          subtitle: 'severity at the time of assessment of each symptom rated from 0 to 10 on a numerical scale, 0 meaning that the symptom is absent and 10 that it is of the worst possible severity'
        },
        width: 900,
        height: 500
      };

      var chart = new google.charts.Line(document.getElementById('linechart_material'));

      chart.draw(data, options);
    }
  </script>
</head>
<body>
  <div id="linechart_material"></div>
</body>
<% end %>


<div class="row">
  <div class="col-md-3">
    <p><strong>Gender:</strong> <%= @patient.gender.gender_type if @patient.gender %></p>
    <p><strong>Age:</strong> <%= @patient.age %></p>
    <p><strong>Address:</strong> <%= @patient.address %></p>
    <p><strong>Email:</strong> <%= current_user.try(:email) %></p>
    <p><strong>Phone number:</strong> <%= @patient.phone_number %></p>
    <p><strong>Other symptom:</strong> <%= OtherSymptom.find_by(id: @patient.other_symptom).symptom_type %></p>
    <p><strong>Caregiver name:</strong> <%= @patient.caregiver_name %></p>
  </div>
  <div class="col-md-3 summary">
    <h2>Goals of care:</h2>
    <p>
      <%= @patient.goals_of_care %>
    </p>
  </div>
  <div class="col-md-4 actors">
    <h2>ESAS Scores:</h2>
    <ul class="list-unstyled">
    <% @esas_assessments.each do |esas_assessment| %>
      <li>For <%= @patient.clinician.occupation.name %> <%= @patient.clinician.last_name %> on <%= link_to esas_assessment.updated_at.in_time_zone.to_s(:long), esas_assessment_path(esas_assessment) %></li>
    <% end %>
    </ul>
  </div>
</div>

<% if current_clinician %>
<div class="row">
  <div class="col-md-3 col-md-offset-1 reviews">
  <span class="pull-left">
    <h2 class="page-header">Information</h2>
    <table class="table table-striped table-bordered">
      <tr>
        <td><strong>Shared with</strong></td>
        <td><%= @patient.shared_with %></td>
      </tr>      
      <tr>
        <td><strong>Patient deceased</strong></td>
        <td><%= @patient.patient_deceased %></td>
      </tr>
      <tr>
        <td><strong>Patient archived</strong></td>
        <td><%= @patient.patient_archived %></td>
      </tr>
    </table>
  </span>
  </div>
</div>
<% end %>

<%= render "patientfooter" %>