<!-- Use view helpers (e.g. link_to and image_tag) -->
<!-- and implement real data -->

<head>
    <title>SeeYouNow | Patient Profile</title>
</head> 

<h3 class="page-header">
  <%= @patient.first_name %> <%= @patient.last_name %>
  <span class="pull-right">
    <%= link_to "Edit", edit_patient_path, class: 'btn btn-u btn-success' %>
  </span>
</h3>
 <h3 span class="diagnosis"><%= @patient.diagnosis %>
 <span class="pull-right">
    <%= link_to "Complete ESAS assessment", new_esas_assessment_path, class: 'btn btn-u btn-success' %>
  </span>
</h3>
<h3 span class="nul">
 <span class="pull-right">
    <%= link_to "Complete PFRS assessment", new_esas_assessment_path, class: 'btn btn-u btn-success' %>
  </span>
</h3>

<% if current_clinician %>
<head>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load('visualization', '1.1', {packages: ['line']});
    google.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('datetime', 'Tate');
      data.addColumn('number', 'Pain');
      data.addColumn('number', 'Tiredness');
      data.addColumn('number', 'Drowsiness');
      data.addColumn('number', 'Nausea');
      data.addColumn('number', 'Lack of Appetite');
      data.addColumn('number', 'Shortness of Breath');
      data.addColumn('number', 'Depression');
      data.addColumn('number', 'Wellbeing');
      data.addColumn('number', 'Other Problem');

      data.addRows([
        <% @esas_assessments.each do |esas_assessment| %>
          [ new Date(<%= esas_assessment.created_at.year %>, <%= esas_assessment.created_at.month.to_i - 1 %>, <%= esas_assessment.created_at.day %>, <%= esas_assessment.created_at.hour %>, <%= esas_assessment.created_at.min %>, 0), <%= "#{esas_assessment.pain}, #{esas_assessment.tiredness}, #{esas_assessment.drowsiness}, #{esas_assessment.nausea}, #{esas_assessment.lack_of_appetite}, #{esas_assessment.shortness_of_breath}, #{esas_assessment.depression}, #{esas_assessment.wellbeing}, #{esas_assessment.other_symptom_score}" %>],
        <% end %>
      ]);

      var options = {
        chart: {
          title: 'Profile of Symptom Severity Over Time',
          subtitle: 'severity at the time of assessment of each symptom rated from 0 to 10 on a numerical scale, 0 meaning that the symptom is absent and 10 that it is of the worst possible severity'
        },
        width: 900,
        height: 500
      };

      var chart = new google.charts.Line(document.getElementById('linechart_material'));

      chart.draw(data, options);
    }
  </script>
</head>
<body>
  <div id="linechart_material"></div>
</body>
<% end %>


<body>
<!--=== Profile ===-->
    <div class="profile container content">
      <div class="row">
            <div class="col-md-12">
              <!--Profile Body-->
              <div class="profile-body">

                <div class="row margin-bottom-20"><!--start row-->

                  <!--=== Goals of Care Block ===-->
                  <div class="bg-color-light">
                      <div class="container content-sm">
                          <div class="headline-center margin-bottom-10">
                              <h2>Goals of Care </h2>
                              <h3><p><%= @patient.goals_of_care %></p></h3>
                          </div>
                      </div>
                  </div>
                  <!--=== End Goals of Care Block ===-->

                  <% if current_clinician %>

                  <!--Patient Information-->
                  <div class="col-sm-4">
                      <div class="panel panel-profile no-bg">
                          <div class="panel-heading overflow-h">
                              <h2 class="panel-title heading-sm pull-left"><i class="fa fa-bed"></i>Patient Information</h2>
                          </div>
                          <div id="scrollbar" class="panel-body contentHolder">
                                <div class="profile-post color-one">
                                    <span class="profile-post-numb"></span>
                                    <div class="profile-post-in">
                                        <p><strong>Gender:</strong> <%= @patient.gender.gender_type if @patient.gender %></p>
                                        <p><strong>Age:</strong> <%= @patient.age %></p>
                                        <p><strong>Address:</strong> <%= @patient.address %></p>
                                        <p><strong>Email:</strong> <%= User.find_by(id: @patient.user_id).email %></p>
                                        <p><strong>Phone number:</strong> <%= @patient.phone_number %></p>
                                        <p><strong>Other symptom:</strong> <%= OtherSymptom.find_by(id: @patient.other_symptom).symptom_type %></p>
                                        <p><strong>Caregiver name:</strong> <%= @patient.caregiver_name %></p>
                                    </div>
                                </div>
                          </div>
                      </div>        
                  </div>
                  <!--End Patient Information-->

                  <!--End ESAS Assessments Post-->
                  <div class="col-sm-4">
                      <div class="panel panel-profile">
                          <div class="panel-heading overflow-h">
                              <h2 class="panel-title heading-sm pull-left"><i class="fa fa-line-chart"></i>ESAS Assessments</h2>
                          </div>
                          <div id="scrollbar4" class="panel-body contentHolder">
                          <% if current_clinician %>
                            <% @esas_assessments.limit(99).each do |esas_assessment| %>
                                <div class="comment">
                                    <div class="overflow-h">
                                        <strong><%= link_to "#{esas_assessment.patient.first_name} #{esas_assessment.patient.last_name}", esas_assessment_path(esas_assessment) %><small class="pull-right"> <%= time_ago_in_words(esas_assessment.created_at) %></small></strong> 
                                        <p>Highest score: <%= [esas_assessment.pain, esas_assessment.tiredness, esas_assessment.drowsiness, esas_assessment.nausea, esas_assessment.lack_of_appetite, esas_assessment.shortness_of_breath, esas_assessment.depression, esas_assessment.wellbeing, esas_assessment.other_symptom_score].max %>, 
                                        <% if esas_assessment.esas_comment == nil %>
                                        <% else %>
                                            Comment: <%= esas_assessment.esas_comment %>,
                                        <% end %>
                                          Other symptom: <%= esas_assessment.other_symptom.symptom_type %>, Submitted to: <%= esas_assessment.clinician.occupation.name %> <%= esas_assessment.clinician.last_name %></p>
                                        <ul class="list-inline comment-list">
                                            <li><i class="fa fa-heartbeat"> </i> <%= esas_assessment.patient.diagnosis %></li>
                                        </ul>
                                    </div>    
                                </div>
                            <% end %>
                          <% else %>
                            <% @esas_assessments.limit(99).each do |esas_assessment| %>
                                <div class="comment">
                                    <div class="overflow-h">
                                        <strong><%= link_to "#{esas_assessment.clinician.first_name} #{esas_assessment.clinician.last_name}", comment_path(esas_assessment) %><small class="pull-right"> <%= time_ago_in_words(esas_assessment.created_at) %></small></strong> 
                                        <p>Highest score: <%= [esas_assessment.pain, esas_assessment.tiredness, esas_assessment.drowsiness, esas_assessment.nausea, esas_assessment.lack_of_appetite, esas_assessment.shortness_of_breath, esas_assessment.depression, esas_assessment.wellbeing, esas_assessment.other_symptom_score].max %>, 
                                        <% if esas_assessment.esas_comment == nil %>
                                        <% else %>
                                            Comment: <%= esas_assessment.esas_comment %>,
                                        <% end %>
                                          Other symptom: <%= esas_assessment.other_symptom.symptom_type %></p>
                                        <ul class="list-inline comment-list">
                                            <li><i class="fa fa-user-md"> </i> <%= esas_assessment.clinician.occupation.name %></li>
                                        </ul>
                                    </div>    
                                </div>
                            <% end %>
                          <% end %>
                          </div>
                      </div>    
                  </div><!--End ESAS Assessments Post-->

                  <!--Administrative Information-->
                  <div class="col-sm-4">
                      <div class="panel panel-profile no-bg">
                          <div class="panel-heading overflow-h">
                              <h2 class="panel-title heading-sm pull-left"><i class="fa fa-bed"></i>Administrative Information</h2>
                          </div>
                          <div id="scrollbar" class="panel-body contentHolder">
                                <div class="profile-post color-one">
                                    <span class="profile-post-numb"></span>
                                    <div class="profile-post-in">
                                        <p><strong>Shared with:</strong>
                                        <p><%= @patient.shared_with %></p>
                                        <p><strong>Patient deceased:</strong>  <%= @patient.patient_deceased %></p>
                                        <p><strong>Patient archived:</strong>    <%= @patient.patient_archived %></p>
                                    </div>
                                </div>
                          </div>
                      </div>        
                  </div>
                  <!--End Administrative Information-->

                  <% else %>

                  <!--Conversations-->
                  <div class="col-sm-6">
                      <div class="panel panel-profile no-bg">
                          <div class="panel-heading overflow-h">
                              <h2 class="panel-title heading-sm pull-left"><i class="fa fa-bed"></i>Patient Information</h2>
                          </div>
                          <div id="scrollbar" class="panel-body contentHolder">
                                <div class="profile-post color-one">
                                    <span class="profile-post-numb"></span>
                                    <div class="profile-post-in">
                                        <p><strong>Gender:</strong> <%= @patient.gender.gender_type if @patient.gender %></p>
                                        <p><strong>Age:</strong> <%= @patient.age %></p>
                                        <p><strong>Address:</strong> <%= @patient.address %></p>
                                        <p><strong>Email:</strong> <%= User.find_by(id: @patient.user_id).email %></p>
                                        <p><strong>Phone number:</strong> <%= @patient.phone_number %></p>
                                        <p><strong>Other symptom:</strong> <%= OtherSymptom.find_by(id: @patient.other_symptom).symptom_type %></p>
                                        <p><strong>Caregiver name:</strong> <%= @patient.caregiver_name %></p>
                                    </div>
                                </div>
                          </div>
                      </div>        
                  </div>
                  <!--End Conversations-->

                  <!--End Comments Post-->
                  <div class="col-sm-6">
                      <div class="panel panel-profile">
                          <div class="panel-heading overflow-h">
                              <h2 class="panel-title heading-sm pull-left"><i class="fa fa-line-chart"></i>ESAS Assessments</h2>
                          </div>
                          <div id="scrollbar4" class="panel-body contentHolder">
                          <% if current_clinician %>
                            <% @esas_assessments.limit(99).each do |esas_assessment| %>
                                <div class="comment">
                                    <div class="overflow-h">
                                        <strong><%= link_to "#{esas_assessment.patient.first_name} #{esas_assessment.patient.last_name}", esas_assessment_path(esas_assessment) %><small class="pull-right"> <%= time_ago_in_words(esas_assessment.created_at) %></small></strong> 
                                        <p>Highest score: <%= [esas_assessment.pain, esas_assessment.tiredness, esas_assessment.drowsiness, esas_assessment.nausea, esas_assessment.lack_of_appetite, esas_assessment.shortness_of_breath, esas_assessment.depression, esas_assessment.wellbeing, esas_assessment.other_symptom_score].max %>, 
                                        <% if esas_assessment.esas_comment == nil %>
                                        <% else %>
                                            Comment: <%= esas_assessment.esas_comment %>,
                                        <% end %>
                                          Other symptom: <%= esas_assessment.other_symptom.symptom_type %>, Submitted to: <%= esas_assessment.clinician.occupation.name %> <%= esas_assessment.clinician.last_name %></p>
                                        <ul class="list-inline comment-list">
                                            <li><i class="fa fa-heartbeat"> </i> <%= esas_assessment.patient.diagnosis %></li>
                                        </ul>
                                    </div>    
                                </div>
                            <% end %>
                          <% else %>
                            <% @esas_assessments.limit(99).each do |esas_assessment| %>
                                <div class="comment">
                                    <div class="overflow-h">
                                        <strong><%= link_to "#{esas_assessment.clinician.first_name} #{esas_assessment.clinician.last_name}", comment_path(esas_assessment) %><small class="pull-right"> <%= time_ago_in_words(esas_assessment.created_at) %></small></strong> 
                                        <p>Highest score: <%= [esas_assessment.pain, esas_assessment.tiredness, esas_assessment.drowsiness, esas_assessment.nausea, esas_assessment.lack_of_appetite, esas_assessment.shortness_of_breath, esas_assessment.depression, esas_assessment.wellbeing, esas_assessment.other_symptom_score].max %>, 
                                        <% if esas_assessment.esas_comment == nil %>
                                        <% else %>
                                            Comment: <%= esas_assessment.esas_comment %>,
                                        <% end %>
                                          Other symptom: <%= esas_assessment.other_symptom.symptom_type %></p>
                                        <ul class="list-inline comment-list">
                                            <li><i class="fa fa-user-md"> </i> <%= esas_assessment.clinician.occupation.name %></li>
                                        </ul>
                                    </div>    
                                </div>
                            <% end %>
                          <% end %>
                          </div>
                      </div>    
                  </div><!--End Comments Post-->

                  <% end %>

                </div><!--/end row-->
              </div><!--End Profile Body-->
            </div>
        </div><!--/end row-->
    </div><!--/container-->    
    <!--=== End Profile ===-->

</body>

<%= render "patientfooter" %>