<head>
    <title>SeeYouNow | Edit ESAS</title>
</head>

<% if @esas_assessment.errors.any? %>
  <div class="alert alert-warning">
    <h2>Some errors kept this assessment from being saved:</h2>
    <ul>
      <% @esas_assessment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h3 class="page-header">
  Edit ESAS assessment done at <%= @esas_assessment.updated_at.to_s(:long) %> for <%= @esas_assessment.patient.first_name %> <%= @esas_assessment.patient.last_name %>
</h3>

<div class="profile container content">
  <div class="centre">
    <div class="col-md-8">
      <!--Profile Body-->
      <div class="profile-body">

        <%= bootstrap_form_for(@esas_assessment, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-8") do |form| %>
          
          <% if [@esas_assessment.pain, @esas_assessment.tiredness, @esas_assessment.drowsiness, @esas_assessment.nausea, @esas_assessment.lack_of_appetite, @esas_assessment.shortness_of_breath, @esas_assessment.depression, @esas_assessment.wellbeing, @esas_assessment.other_symptom_score].max >= 8 %>
            <div class="form-group">
              <%= form.text_field :resolution, class: "form-control", rows: 5, placeholder: "Write treatment here", label: "Treatment" %>
            </div>

            <%= form.form_group :priority_resolved do %>
              <%= form.check_box :priority_resolved, label: "High priority symptoms treated" %>
            <% end %>

            <div class="form-group">
              <%= form.select :resolved_by, @resolved_by, class: "form-control", control_col: "col-sm-2", label: "Treated by" %>
            </div>
          <% end %>

          <hr style="margin-top: 1px; margin-bottom: 6px;" />

          <div class="form-group">
            <%= form.select :pain, [0,1,2,3,4,5,6,7,8,9,10], class: "form-control", control_col: "col-sm-2", label: "Pain Score" %>
          </div>

          <div class="form-group">
            <%= form.text_field :pain_comment, class: "form-control", placeholder: "Leave a comment", label: "Pain Comment" %>
          </div>

          <hr style="margin-top: 1px; margin-bottom: 6px;" />
          <p>Tiredness - decreased energy level (but not necessarily sleepy)</p>

          <div class="form-group">
            <%= form.select :tiredness, [0,1,2,3,4,5,6,7,8,9,10], class: "form-control", control_col: "col-sm-2", label: "Tiredness Score"  %>
          </div>

          <div class="form-group">
            <%= form.text_field :tiredness_comment, class: "form-control", placeholder: "Leave a comment", label: "Tiredness Comment" %>
          </div>

          <hr style="margin-top: 1px; margin-bottom: 6px;" />
          <p>Drowsiness - sleepiness</p>

            <div class="form-group">
            <%= form.select :drowsiness, [0,1,2,3,4,5,6,7,8,9,10], class: "form-control", control_col: "col-sm-2", label: "Drowsiness Score"  %>
          </div>

          <div class="form-group">
            <%= form.text_field :drowsiness_comment, class: "form-control", placeholder: "Leave a comment", label: "Drowsiness Comment" %>
          </div>

          <hr style="margin-top: 1px; margin-bottom: 6px;" />

            <div class="form-group">
            <%= form.select :nausea, [0,1,2,3,4,5,6,7,8,9,10], class: "form-control", control_col: "col-sm-2", label: "Nausea Score"  %>
          </div>

          <div class="form-group">
            <%= form.text_field :nausea_comment, class: "form-control", placeholder: "Leave a comment", label: "Nausea Comment" %>
          </div>

          <hr style="margin-top: 1px; margin-bottom: 6px;" />

          <div class="form-group">
            <%= form.select :lack_of_appetite, [0,1,2,3,4,5,6,7,8,9,10], class: "form-control", control_col: "col-sm-2", label: "Lack of Appetite Score"  %>
          </div>

          <div class="form-group">
            <%= form.text_field :lack_of_appetite_comment, class: "form-control", placeholder: "Leave a comment", label: "Lack of Appetite Comment" %>
          </div>

          <hr style="margin-top: 1px; margin-bottom: 6px;" />

          <div class="form-group">
            <%= form.select :shortness_of_breath, [0,1,2,3,4,5,6,7,8,9,10], class: "form-control", control_col: "col-sm-2", label: "Shortness of Breath Score"  %>
          </div>

          <div class="form-group">
            <%= form.text_field :shortness_of_breath_comment, class: "form-control", placeholder: "Leave a comment", label: "Shortness of Breath Comment" %>
          </div>

          <hr style="margin-top: 1px; margin-bottom: 6px;" />
          <p>Depression - sad or blue</p>

          <div class="form-group">
            <%= form.select :depression, [0,1,2,3,4,5,6,7,8,9,10], class: "form-control", control_col: "col-sm-2", label: "Depression Score"  %>
          </div>

          <div class="form-group">
            <%= form.text_field :depression_comment, class: "form-control", placeholder: "Leave a comment", label: "Depression Comment" %>
          </div>

          <hr style="margin-top: 1px; margin-bottom: 6px;" />
          <p>Anxiety - nervousness or restlessness</p>

          <div class="form-group">
            <%= form.select :anxiety, [0,1,2,3,4,5,6,7,8,9,10], class: "form-control", control_col: "col-sm-2", label: "Anxiety Score"  %>
          </div>

          <div class="form-group">
            <%= form.text_field :anxiety_comment, class: "form-control", placeholder: "Leave a comment", label: "Anxiety Comment" %>
          </div>

          <hr style="margin-top: 1px; margin-bottom: 6px;" />
          <p>Wellbeing: overall comfort, both physical and otherwise; truthfully answering the question,
“How are you?”</p>

          <div class="form-group">
            <%= form.select :wellbeing, [0,1,2,3,4,5,6,7,8,9,10], class: "form-control", control_col: "col-sm-2", label: "Wellbeing Score"  %>
          </div>

          <div class="form-group">
            <%= form.text_field :wellbeing_comment, class: "form-control", placeholder: "Leave a comment", label: "Wellbeing Comment" %>
          </div>

          <hr style="margin-top: 1px; margin-bottom: 6px;" />
          <p>One blank scale is available for patients to use to assess an “other problem” as needed</p>

          <div class="form-group">
            <%= form.collection_select :other_symptom_id, OtherSymptom.all.order("symptom_type asc"), :id, :symptom_type, :selected => form.object.other_symptom_id, class: "form-control", control_col: "col-sm-4" %>
          </div>

          <div class="form-group">
            <%= form.select :other_symptom_score, [0,1,2,3,4,5,6,7,8,9,10], class: "form-control", control_col: "col-sm-2"  %>
          </div>

          <div class="form-group">
            <%= form.text_field :other_symptom_comment, class: "form-control", placeholder: "Leave a comment", label: "Tiredness Comment" %>
          </div>

          <hr style="margin-top: 1px; margin-bottom: 6px;" />

          <div class="form-group">
            <%= form.text_field :esas_comment, class: "form-control", placeholder: "Leave a comment", label: "Overall ESAS Comment" %>
          </div>
          
          <%= form.button 'Update ESAS assessment', class: "btn btn-u btn-success" %>
        <% end %>
      </div><!--End Profile Body-->
    </div>
  </div><!--/end centre-->
</div><!--/container-->