<!-- Use view helpers (e.g. link_to and image_tag) -->
<!-- and implement real data -->

<head>
    <title>SeeYouNow | ESAS Assessment</title>

 <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>
  
        
  <script type="text/javascript">
  setTimeout(function(){google.load('visualization', '1', {'callback':'drawChart()', 'packages':['corechart']})}, 1000);


  function drawChart() {

    var data = google.visualization.arrayToDataTable([
       ['Symptom', 'Intensity', { role: 'style' }],
       ['Pain', <%= @esas_assessment.pain %>, <% if @esas_assessment.pain >= 8 %>'#db3445'<% else %>'#3498db'<% end %> ],
       ['Tiredness', <%= @esas_assessment.tiredness %>, <% if @esas_assessment.tiredness >= 8 %>'#db3445'<% else %>'#3498db'<% end %> ],
       ['Drowsiness', <%= @esas_assessment.drowsiness %>, <% if @esas_assessment.drowsiness >= 8 %>'#db3445'<% else %>'#3498db'<% end %> ],
       ['Nausea', <%= @esas_assessment.nausea %>, <% if @esas_assessment.nausea >= 8 %>'#db3445'<% else %>'#3498db'<% end %> ],
       ['Lack of Appetite', <%= @esas_assessment.lack_of_appetite %>, <% if @esas_assessment.lack_of_appetite >= 8 %>'#db3445'<% else %>'#3498db'<% end %> ],
       ['Shortness of Breath', <%= @esas_assessment.shortness_of_breath %>, <% if @esas_assessment.shortness_of_breath >= 8 %>'#db3445'<% else %>'#3498db'<% end %> ],
       ['Depression', <%= @esas_assessment.depression %>, <% if @esas_assessment.depression >= 8 %>'#db3445'<% else %>'#3498db'<% end %> ],
       ['Anxiety', <%= @esas_assessment.anxiety %>, <% if @esas_assessment.anxiety >= 8 %>'#db3445'<% else %>'#3498db'<% end %> ],
       ['Wellbeing', <%= @esas_assessment.wellbeing %>, <% if @esas_assessment.wellbeing >= 8 %>'#db3445'<% else %>'#3498db'<% end %> ],
      <% if @esas_assessment.other_symptom_score == 0 %>
      <% else %>
        ['<%= @esas_assessment.other_symptom.symptom_type.capitalize %>', <%= @esas_assessment.other_symptom_score %>, <% if @esas_assessment.other_symptom_score >= 8 %>'#db3445'<% else %>'#3498db'<% end %> ],
      <% end %>
    ]);

    var options = {
      // chartArea:{left:20,top:0,width:'50%',height:'75%'}
      width: 1000,
      height: 563,
      hAxis: {
        title: 'Symptom',
        gridlines: {count: 10}
      },
      vAxis: {
        title: 'Intensity (scale of 1-10)'
        // {minValue: 0}
        // viewWindowMode:'explicit',
        // viewWindow:{
        //   max:10,
        //   min:1
      }
    };

    var chart = new google.visualization.ColumnChart(
      document.getElementById('esas_scores'));

    chart.draw(data, options);
  }
  </script>
</head>

<h4 class="page-header">
  <p><strong>Patient:</strong> <%= link_to "#{@esas_assessment.patient.first_name} #{@esas_assessment.patient.last_name}", patient_path(@esas_assessment.patient) %></p>
  <% if current_clinician %>
    <span class="pull-right">
      <% if [@esas_assessment.pain, @esas_assessment.tiredness, @esas_assessment.drowsiness, @esas_assessment.nausea, @esas_assessment.lack_of_appetite, @esas_assessment.shortness_of_breath, @esas_assessment.depression, @esas_assessment.anxiety, @esas_assessment.wellbeing, @esas_assessment.other_symptom_score].max >= 8 %>
        <% if @esas_assessment.priority_resolved == true or [@esas_assessment.pain, @esas_assessment.tiredness, @esas_assessment.drowsiness, @esas_assessment.nausea, @esas_assessment.lack_of_appetite, @esas_assessment.shortness_of_breath, @esas_assessment.depression, @esas_assessment.anxiety, @esas_assessment.wellbeing, @esas_assessment.other_symptom_score].max < 7 %>
          Priority Resolved &nbsp &nbsp <%= link_to "Edit", edit_esas_assessment_path, class: 'btn btn-u btn-success' %>
        <% else %>
          High Priority! &nbsp &nbsp <%= link_to "Resolve", edit_esas_assessment_path, class: 'btn btn-u btn-u-red btn-u-lg btn-success' %>
        <% end %>
      <% else %>
        <%= link_to "Edit", edit_esas_assessment_path, class: 'btn btn-u btn-success' %>
      <% end %>
    </span>
  <% else %>
    <span class="pull-right">
      <%= link_to "Edit", edit_esas_assessment_path, class: 'btn btn-u btn-success' %>
    </span>
  <% end %>
  <p><strong>Care Group:</strong> <%= @esas_assessment.clinician.care_group.name %></p>
</h4>
<h4 span class="time"><strong>Completed:</strong> <%= @esas_assessment.updated_at.strftime("%B %d, %Y") %> at <%= @esas_assessment.updated_at.strftime("%H:%M") %>

  <% if current_clinician %>
    <span class="pull-right">
    <%= link_to "Delete", esas_assessment_path, method: :delete, data: {confirm: 'Are you sure you want to delete'}, class: 'btn btn-u btn-success' %>
    </span>
  <% end %>
</h4>

<br>

<body>

  <% if @esas_assessment.resolution != nil %>
    <% if @esas_assessment.priority_resolved == true %>
      <div class="row">
        <div class="col-md-6 comment">
          <span class="dropcap">&#x2713;</span><h2>Treatment</h2>
          <p>
          <%= @esas_assessment.resolution %>
        </p>
        <p>
          <% if @esas_assessment.resolved_by == 0 %>
          <% else %>
            Treated by: <%= Clinician.find_by(id: @esas_assessment.resolved_by).full_name %>
          <% end %>
        </p>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-md-6 comment">
          <h2>Notes on priority symptom</h2>
          <p>
          <%= @esas_assessment.resolution %>
        </p>
        <p>
          <% if @esas_assessment.resolved_by == 0 %>
          <% else %>
            Treated by: <%= Clinician.find_by(id: @esas_assessment.resolved_by).full_name %>
          <% end %>
        </p>
        </div>
      </div>
    <% end %>
  <% end %>

  <div id="esas_scores"></div>

  <div class="row">
    <div class="col-md-6 comment">
      <h2>Overall Comment</h2>
        <p>
          <%= @esas_assessment.esas_comment %>
        </p>
    </div>
  </div>

<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        

        <!-- Begin Content -->
        <div class="col-md-9">
            <!--Basic Table-->
            <div class="panel panel-blue">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-tasks"></i> Scores</h3>
                </div>
                <div class="panel-body">
                    <p>Severity at the time of assessment of each symptom rated from 0 to 10 on a numerical scale, 0 meaning that the symptom is absent and 10 that it is of the worst possible severity</p>
                </div>                                      
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Symptom</th>
                            <th class="hidden-sm">Intensity</th>
                            <th>Comment</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Pain</td>
                            <td class="hidden-sm"><%= @esas_assessment.pain %></td>
                            <td><%= @esas_assessment.pain_comment %></td>
                            <% if (@esas_assessment.pain.between?(1, 4)) %>
                              <td><span class="label label-success">Low</span></td>
                            <% else %>
                              <% if (@esas_assessment.pain.between?(5, 7)) %>
                                <td><span class="label label-warning">Moderate</span></td>
                              <% else %>
                                <% if (@esas_assessment.pain.between?(8, 10)) %>
                                  <td><span class="label label-danger">High!</span></td>
                                <% else %>
                                  <td><span class="label label-info">None</span></td>
                                <% end %>
                              <% end %>
                            <% end %>
                        </tr>
                        <tr>
                            <td>Tiredness</td>
                            <td class="hidden-sm"><%= @esas_assessment.tiredness %></td>
                            <td><%= @esas_assessment.tiredness_comment %></td>
                            <% if (@esas_assessment.tiredness.between?(1, 4)) %>
                              <td><span class="label label-success">Low</span></td>
                            <% else %>
                              <% if (@esas_assessment.tiredness.between?(5, 7)) %>
                                <td><span class="label label-warning">Moderate</span></td>
                              <% else %>
                                <% if (@esas_assessment.tiredness.between?(8, 10)) %>
                                  <td><span class="label label-danger">High!</span></td>
                                <% else %>
                                  <td><span class="label label-info">None</span></td>
                                <% end %>
                              <% end %>
                            <% end %>                           
                        </tr>
                        <tr>
                            <td>Drowsiness</td>
                            <td class="hidden-sm"><%= @esas_assessment.drowsiness %></td>
                            <td><%= @esas_assessment.drowsiness_comment %></td>
                            <% if (@esas_assessment.drowsiness.between?(1, 4)) %>
                              <td><span class="label label-success">Low</span></td>
                            <% else %>
                              <% if (@esas_assessment.drowsiness.between?(5, 7)) %>
                                <td><span class="label label-warning">Moderate</span></td>
                              <% else %>
                                <% if (@esas_assessment.drowsiness.between?(8, 10)) %>
                                  <td><span class="label label-danger">High!</span></td>
                                <% else %>
                                  <td><span class="label label-info">None</span></td>
                                <% end %>
                              <% end %>
                            <% end %>
                        </tr>
                        <tr>
                            <td>Nausea</td>
                            <td class="hidden-sm"><%= @esas_assessment.nausea %></td>
                            <td><%= @esas_assessment.nausea_comment %></td>
                            <% if (@esas_assessment.nausea.between?(1, 4)) %>
                              <td><span class="label label-success">Low</span></td>
                            <% else %>
                              <% if (@esas_assessment.nausea.between?(5, 7)) %>
                                <td><span class="label label-warning">Moderate</span></td>
                              <% else %>
                                <% if (@esas_assessment.nausea.between?(8, 10)) %>
                                  <td><span class="label label-danger">High!</span></td>
                                <% else %>
                                  <td><span class="label label-info">None</span></td>
                                <% end %>
                              <% end %>
                            <% end %>
                        </tr>
                        <tr>
                            <td>Lack of Appetite</td>
                            <td class="hidden-sm"><%= @esas_assessment.lack_of_appetite %></td>
                            <td><%= @esas_assessment.lack_of_appetite_comment %></td>
                            <% if (@esas_assessment.lack_of_appetite.between?(1, 4)) %>
                              <td><span class="label label-success">Low</span></td>
                            <% else %>
                              <% if (@esas_assessment.lack_of_appetite.between?(5, 7)) %>
                                <td><span class="label label-warning">Moderate</span></td>
                              <% else %>
                                <% if (@esas_assessment.lack_of_appetite.between?(8, 10)) %>
                                  <td><span class="label label-danger">High!</span></td>
                                <% else %>
                                  <td><span class="label label-info">None</span></td>
                                <% end %>
                              <% end %>
                            <% end %>
                        </tr>
                        <tr>
                            <td>Shortness of Breath</td>
                            <td class="hidden-sm"><%= @esas_assessment.shortness_of_breath %></td>
                            <td><%= @esas_assessment.shortness_of_breath_comment %></td>
                            <% if (@esas_assessment.shortness_of_breath.between?(1, 4)) %>
                              <td><span class="label label-success">Low</span></td>
                            <% else %>
                              <% if (@esas_assessment.shortness_of_breath.between?(5, 7)) %>
                                <td><span class="label label-warning">Moderate</span></td>
                              <% else %>
                                <% if (@esas_assessment.shortness_of_breath.between?(8, 10)) %>
                                  <td><span class="label label-danger">High!</span></td>
                                <% else %>
                                  <td><span class="label label-info">None</span></td>
                                <% end %>
                              <% end %>
                            <% end %>                           
                        </tr>
                        <tr>
                            <td>Depression</td>
                            <td class="hidden-sm"><%= @esas_assessment.depression %></td>
                            <td><%= @esas_assessment.depression_comment %></td>
                            <% if (@esas_assessment.depression.between?(1, 4)) %>
                              <td><span class="label label-success">Low</span></td>
                            <% else %>
                              <% if (@esas_assessment.depression.between?(5, 7)) %>
                                <td><span class="label label-warning">Moderate</span></td>
                              <% else %>
                                <% if (@esas_assessment.depression.between?(8, 10)) %>
                                  <td><span class="label label-danger">High!</span></td>
                                <% else %>
                                  <td><span class="label label-info">None</span></td>
                                <% end %>
                              <% end %>
                            <% end %>
                        </tr>
                        <tr>
                            <td>Anxiety</td>
                            <td class="hidden-sm"><%= @esas_assessment.anxiety %></td>
                            <td><%= @esas_assessment.anxiety_comment %></td>
                            <% if (@esas_assessment.anxiety.between?(1, 4)) %>
                              <td><span class="label label-success">Low</span></td>
                            <% else %>
                              <% if (@esas_assessment.anxiety.between?(5, 7)) %>
                                <td><span class="label label-warning">Moderate</span></td>
                              <% else %>
                                <% if (@esas_assessment.anxiety.between?(8, 10)) %>
                                  <td><span class="label label-danger">High!</span></td>
                                <% else %>
                                  <td><span class="label label-info">None</span></td>
                                <% end %>
                              <% end %>
                            <% end %>
                        </tr>
                        <tr>
                            <td>Wellbeing</td>
                            <td class="hidden-sm"><%= @esas_assessment.wellbeing %></td>
                            <td><%= @esas_assessment.wellbeing_comment %></td>
                            <% if (@esas_assessment.wellbeing.between?(1, 4)) %>
                              <td><span class="label label-success">Low</span></td>
                            <% else %>
                              <% if (@esas_assessment.wellbeing.between?(5, 7)) %>
                                <td><span class="label label-warning">Moderate</span></td>
                              <% else %>
                                <% if (@esas_assessment.wellbeing.between?(8, 10)) %>
                                  <td><span class="label label-danger">High!</span></td>
                                <% else %>
                                  <td><span class="label label-info">None</span></td>
                                <% end %>
                              <% end %>
                            <% end %>
                        </tr>
                        <% if (@esas_assessment.other_symptom_score == 0) %>
                        <% else %>
                          <tr>
                              <td><%= @esas_assessment.other_symptom.symptom_type.capitalize %></td>
                              <td class="hidden-sm"><%= @esas_assessment.other_symptom_score %></td>
                              <td><%= @esas_assessment.other_symptom_comment %></td>
                              <% if (@esas_assessment.other_symptom_score.between?(1, 4)) %>
                                <td><span class="label label-success">Low</span></td>
                              <% else %>
                                <% if (@esas_assessment.other_symptom_score.between?(5, 7)) %>
                                  <td><span class="label label-warning">Moderate</span></td>
                                <% else %>
                                  <% if (@esas_assessment.other_symptom_score.between?(8, 10)) %>
                                    <td><span class="label label-danger">High!</span></td>
                                  <% else %>
                                    <td><span class="label label-info">None</span></td>
                                  <% end %>
                                <% end %>
                              <% end %>
                          </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <!--End Basic Table-->
        </div>
        <!-- End Content -->
    </div>          
</div><!--/container-->     
<!--=== End Content Part ===-->


<div class="container content">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-blue margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i> Information</h3>
        </div>
        <table class="table table-striped table-bordered">
          <tr>
            <td><strong>Care giver name</strong></td>
            <% if @care_giver == nil %>
              <% if @esas_assessment.clinician_completed == true %>
                <td><%= link_to @esas_assessment.clinician.full_name, clinician_path(@esas_assessment.clinician.id) %></td>
              <% else %>
               <td>Self completed</td>
              <% end %>
            <% else %>
              <td><%= link_to  @care_giver.full_name, care_giver_path(@care_giver) %></td>
            <% end %>
          </tr>
          <tr>
            <td><strong>Care giver relation</strong></td>
            <% if @care_giver == nil %>
              <% if @esas_assessment.clinician_completed == true %>
                <td><%= @esas_assessment.clinician.occupation.name %></td>
              <% else %>
                <td> </td>
              <% end %>
            <% else %>
              <td><%= @care_giver.inputter.inputter_type %></td>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
