<head>
    <title>SeeYouNow | Edit PRFS</title>
</head>

<% if @prfs_assessment.errors.any? %>
  <div class="alert alert-warning">
    <h2>Some errors kept this assessment from being saved:</h2>
    <ul>
      <% @prfs_assessment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h3 class="page-header">
  Edit PRFS assessment done at <%= @prfs_assessment.updated_at.to_s(:long) %> for <%= @prfs_assessment.patient.first_name %> <%= @prfs_assessment.patient.last_name %>
</h3>

<div class="profile container content">
  <div class="centre">
    <div class="col-md-8">
      <!--Profile Body-->
      <div class="profile-body">

        <%= bootstrap_form_for(@prfs_assessment, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-8") do |form| %>
          
          <div class="form-group">
            <%= form.label :inputter_name %>
            <%= form.text_field :inputter_name, class: "form-control", control_col: "col-sm-6", label: "Inputter Name" %>
          </div>

          <div class="form-group">
            <%= form.collection_select :inputter_id, Inputter.all, :id, :inputter_type, :selected => form.object.inputter_id, class: "form-control", control_col: "col-sm-3", label: "Inputter Type" %>
          </div>

          <div class="form-group">
            <%= form.select :activity_and_function, @select_options, class: "form-control", control_col: "col-sm-2" %>
          </div>

          <div class="form-group">
            <%= form.text_field :prfs_comment, class: "form-control", label: "PRFS Comment", placeholder: "Leave a comment" %>
          </div>
          
          <%= form.button 'Update PRFS assessment', class: "btn btn-u btn-success" %>
        <% end %>
      </div><!--End Profile Body-->
    </div>
  </div><!--/end centre-->
</div><!--/container-->