<head>
    <title>SeeYouNow | New PRFS</title>
</head>

<% if @prfs_assessment.errors.any? %>
  <div class="alert alert-warning">
    <h2>Some errors kept this assessment from being saved:</h2>
    <ul>
      <% @prfs_assessment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h3 class="page-header">
  Patient Reported Functional Status (PRFS) Tool
</h3>
<h4 span class="diagnosis">
  Over the past month generally rate patient's activity.  This should be preformed after completing an ESAS Assessment.
</h4>

<div class="profile container content">
  <div class="centre">
    <div class="col-md-8">
      <!--Profile Body-->
      <div class="profile-body">

        <%= bootstrap_form_for(@prfs_assessment, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-8") do |form| %>

          <% if current_clinician %>
            <div class="form-group">
              <%= form.collection_select :patient_id, Clinician.find_by(id: current_clinician.id).patients.order("first_name asc"), :id, :full_name, class: "form-control", control_col: "col-sm-6", label: "Select Patient" %>
            </div>
          <% end %>

          <% if current_clinician %>
          <% else %>
            <p>Select the care giver that is inputting this assesment</p>

            <div class="form-group">
              <%= form.collection_select :care_giver_id, CareGiver.where(patient_id: current_user.patient.id).order("first_name asc"), :id, :full_name, {:include_blank => "Self completed by patient"}, class: "form-control", control_col: "col-sm-6" %>
            </div>
            <span class="pull-right">
              <%= link_to "Add Care Giver", new_care_giver_path, class: 'btn btn-u btn-success' %>
            </span>
          <% end %>

          <hr style="margin-top: 1px; margin-bottom: 6px;" />

          <div class="form-group">
            <%= form.select :activity_and_function, @select_options, class: "form-control", control_col: "col-sm-2" %>
          </div>

          <div class="form-group">
            <%= form.text_field :prfs_comment, class: "form-control", label: "PRFS Comment", placeholder: "Leave a comment" %>
          </div>

          <%= form.button 'Submit PRFS assessment', class: "btn btn-u btn-success" %>
        <% end %>
      </div><!--End Profile Body-->
    </div>
  </div><!--/end centre-->
</div><!--/container--> 