<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SeeYouNow</title>
    <!-- Logo Font -->
    <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">

          <!-- Alerts -->
      <% if notice %>
        <div class="alert alert-success" role="alert"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger" role="alert"><%= alert %></div>
      <% end %>
      
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- SeeYouNow and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "SeeYouNow", root_path, class: "navbar-brand" %>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <% if current_clinician %>
          
            <ul class="nav navbar-nav">
              <li>
              <a href="/">
                <i class="fa fa-medkit"></i> Home 
                <span class="sr-only">(current)</a></li>

                <li>
                <!-- <i class="fa fa-bed"></i> -->
                <%= link_to "Patients", patients_path %><span class="sr-only"></span></li>
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-line-chart"> </i> Scores <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <% if current_clinician %>
                      <%= link_to "ESAS scores", esas_assessments_path %>
                    <% end %>
                  </li>
                  <li>
                    <% if current_clinician %>
                      <a href="#">PFRS scores</a>
                     <% end %>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <% if current_clinician %>
                      <a href="#">Other Symptoms</a>
                     <% end %>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <% if current_clinician %>
                      <a href="#">Comments</a>
                     <% end %>
                  </li>
                </ul>
              </li>              
            </ul>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter patient name">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <% end %>

            <ul class="nav navbar-nav navbar-right">
              <li>
              <!-- <i class="fa fa-user-md"></i> -->
                <% if current_user %>
                    <% if current_user.clinician.nil?  %>
                      <a href="#">
                      <i class="fa fa-user"></i>
                        Hi, <%= link_to "#{current_user.patient.first_name} #{current_user.patient.last_name}", patient_path(current_user.patient) %>
                      </a>
                    <% else %>
                      <a href="#">
                      <i class="fa fa-user"></i>
                        Hi, <%= link_to "#{current_user.clinician.first_name} #{current_user.clinician.last_name}", clinician_path(current_user.clinician) %>
                      </a>
                    <% end %>
                <% else %>
                  <a href="#">
                  <i class="fa fa-user"></i>
                    <%= link_to "Log In", login_path %>
                  </a>
                <% end %>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#"><%= link_to "Settings", edit_user_path(current_user) %></a></li>
                  <li><a href="#"><% if current_clinician %>
                      <%= link_to "Notification Settings", logout_path %>
                    <% end %></a></li>
                  <li class="divider"></li>
                  <li>
                    <% if current_user %>
                      <%= link_to "Log Out", logout_path %>
                    <% end %>
                  </li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
